Repository CityOfBoston/digital, pull requests merged in 2018-10, with the labels that each got.

#70 Adds UI for device registration flow
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/inputs/Checkbox.tsx
  modules-js/react-fleet/src/form-elements/inputs/Radio.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/Radio.tsx
  services-js/access-boston/package.json
  services-js/access-boston/src/client/StatusModal.tsx
  services-js/access-boston/src/client/TextInput.stories.tsx
  services-js/access-boston/src/client/TextInput.tsx
  services-js/access-boston/src/client/device-verification/DeviceVerificationForm.stories.tsx
  services-js/access-boston/src/client/device-verification/DeviceVerificationForm.tsx
  services-js/access-boston/src/client/device-verification/DeviceVerificationModal.stories.tsx
  services-js/access-boston/src/client/device-verification/DeviceVerificationModal.tsx
  services-js/access-boston/src/client/graphql/add-mfa-device.ts
  services-js/access-boston/src/client/graphql/queries.ts
  services-js/access-boston/src/integration/change-password.testcafe.ts
  services-js/access-boston/src/integration/forgot-password.testcafe.ts
  services-js/access-boston/src/integration/models/DeviceRegistrationPageModel.ts
  services-js/access-boston/src/integration/models/LoginFormModel.ts
  services-js/access-boston/src/integration/models/PageModel.ts
  services-js/access-boston/src/integration/models/PasswordPageModel.ts
  services-js/access-boston/src/integration/register-device.testcafe.ts
  services-js/access-boston/src/integration/registration-flow.testcafe.ts
  services-js/access-boston/src/integration/testcafe-helpers.ts
  services-js/access-boston/src/lib/validation.test.ts
  services-js/access-boston/src/lib/validation.ts
  services-js/access-boston/src/pages/_app.tsx
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/forgot.tsx
  services-js/access-boston/src/pages/mfa.tsx
  services-js/access-boston/src/stories/RegisterMfaPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/commissions-search/src/FacetList.js
Labels: access-boston

#71 Code verification part of Access Boston register
  services-js/access-boston/src/client/AccessBostonHeader.tsx
  services-js/access-boston/src/client/RedirectForm.tsx
  services-js/access-boston/src/client/device-verification/DeviceVerificationModal.stories.tsx
  services-js/access-boston/src/client/device-verification/DeviceVerificationModal.tsx
  services-js/access-boston/src/client/graphql/queries.ts
  services-js/access-boston/src/client/graphql/verify-mfa-device.ts
  services-js/access-boston/src/integration/change-password.testcafe.ts
  services-js/access-boston/src/integration/models/DeviceRegistrationPageModel.ts
  services-js/access-boston/src/integration/register-device.testcafe.ts
  services-js/access-boston/src/integration/registration-flow.testcafe.ts
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/done.tsx
  services-js/access-boston/src/pages/mfa.tsx
  services-js/access-boston/src/server/access-boston.ts
  services-js/access-boston/src/server/services/SamlAuthFake.ts
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#73 Removes the non-JS password workflows
  services-js/access-boston/src/integration/forgot-password.testcafe.ts
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/forgot.tsx
  services-js/access-boston/src/stories/ChangePasswordPage.stories.tsx
  services-js/access-boston/src/stories/ForgotPasswordPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#72 Access Boston SAML tweaks
  services-js/access-boston/src/pages/register.tsx
  services-js/access-boston/src/server/access-boston.ts
  services-js/access-boston/src/server/login-auth.ts
  services-js/access-boston/src/server/services/SamlAuth.ts
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#77 added missing dependency
  services-js/commissions-search/package.json
Labels: commissions-search

#76 Language/style tweaks for Access Boston register
  services-js/access-boston/src/client/device-verification/DeviceVerificationForm.tsx
  services-js/access-boston/src/client/device-verification/DeviceVerificationModal.tsx
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/stories/ChangePasswordPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#79 Updates language around device registration
  services-js/access-boston/.storybook/config.js
  services-js/access-boston/src/client/device-verification/DeviceVerificationForm.stories.tsx
  services-js/access-boston/src/client/device-verification/DeviceVerificationForm.tsx
  services-js/access-boston/src/client/device-verification/DeviceVerificationModal.stories.tsx
  services-js/access-boston/src/integration/forgot-password.testcafe.ts
  services-js/access-boston/src/integration/registration-flow.testcafe.ts
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/register.tsx
  services-js/access-boston/src/stories/RegisterMfaPage.stories.tsx
  services-js/access-boston/src/stories/RegisterPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#80 Adds "size" to device verification modal’s input
  services-js/access-boston/src/client/device-verification/DeviceVerificationModal.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#83 Updates IdentityIQ on device registration
  services-js/access-boston/src/server/Session.ts
  services-js/access-boston/src/server/graphql/mfa.ts
  services-js/access-boston/src/server/login-auth.ts
  services-js/access-boston/src/server/services/IdentityIq.ts
  services-js/access-boston/src/server/services/IdentityIqFake.ts
Labels: access-boston

#84 Stores Access Boston sessions in Redis
  services-js/access-boston/package.json
  services-js/access-boston/src/server/access-boston.ts
  yarn.lock
Labels: access-boston

#85 Adds validation for MFA email and phone
  services-js/access-boston/src/client/device-verification/DeviceVerificationForm.tsx
  services-js/access-boston/src/client/graphql/queries.ts
  services-js/access-boston/src/lib/validation.ts
  services-js/access-boston/src/pages/mfa.tsx
  services-js/access-boston/src/server/graphql/mfa.ts
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#86 updated library component to accept declared styles; added missing class
  modules-js/react-fleet/src/form-elements/inputs/Radio.tsx
  services-js/commissions-search/src/App.js
  services-js/commissions-search/src/FacetList.js
  services-js/commissions-search/src/ResultList.js
  services-js/commissions-search/src/Search.js
Labels: commissions-search

#88 Adds a BrowserCompatibility component
  modules-js/react-fleet/package.json
  modules-js/react-fleet/rollup.config.js
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/components/CompatibilityWarning.stories.tsx
  modules-js/react-fleet/src/components/CompatibilityWarning.tsx
  modules-js/react-fleet/src/react-fleet.ts
  services-js/access-boston/src/pages/_document.tsx
  templates/js-browser-module/template/package.json
  templates/js-browser-module/template/rollup.config.js
  yarn.lock
Labels: access-boston

#89 Network reliability fixes
  services-js/access-boston/src/client/HelpContactInfo.tsx
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/forgot.tsx
  services-js/access-boston/src/pages/register.tsx
  services-js/access-boston/src/server/services/IdentityIq.ts
  services-js/access-boston/src/server/services/SamlAuth.ts
  services-js/access-boston/src/stories/ChangePasswordPage.stories.tsx
  services-js/access-boston/src/stories/ForgotPasswordPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#94 Registry Certs database fixes
  services-js/registry-certs/package.json
  services-js/registry-certs/server/lib/mssql-helpers.ts
  services-js/registry-certs/server/server.ts
  services-js/registry-certs/server/services/RegistryData.ts
  services-js/registry-certs/server/services/RegistryOrders.ts
  yarn.lock
Labels: registry-certs

#95 Combines the RegistryData and RegistryOrders files
  modules-js/deploy-tools/package.json
  modules-js/graphql-typescript/package.json
  modules-js/hapi-next/package.json
  modules-js/mssql-common/package.json
  modules-js/mssql-typescript/package.json
  modules-js/percy-common/package.json
  modules-js/srv-decrypt-env/package.json
  services-js/access-boston/package.json
  services-js/access-boston/src/server/services/SamlAuthFake.ts
  services-js/commissions-app/package.json
  services-js/registry-certs/.env.sample
  services-js/registry-certs/package.json
  services-js/registry-certs/pages/_document.tsx
  services-js/registry-certs/scripts/generate-fixtures.ts
  services-js/registry-certs/server/graphql/death-certificates.test.ts
  services-js/registry-certs/server/graphql/death-certificates.ts
  services-js/registry-certs/server/graphql/index.ts
  services-js/registry-certs/server/graphql/mutation.test.ts
  services-js/registry-certs/server/graphql/mutation.ts
  services-js/registry-certs/server/server.ts
  services-js/registry-certs/server/services/RegistryData.ts
  services-js/registry-certs/server/services/RegistryDb.test.ts
  services-js/registry-certs/server/services/RegistryDb.ts
  services-js/registry-certs/server/stripe-events.test.ts
  services-js/registry-certs/server/stripe-events.ts
  templates/js-browser-module/package.json
  templates/js-server-module/package.json
  templates/js-server-module/template/package.json
  yarn.lock
Labels: registry-certs

#99 Upgrades Next to 7.0.2
  modules-js/hapi-next/package.json
  modules-js/react-fleet/package.json
  services-js/access-boston/package.json
  services-js/commissions-app/package.json
  services-js/registry-certs/package.json
  yarn.lock
Labels: tech debt

#98 Renames Cart to DeathCertificateCart
  services-js/registry-certs/client/AppLayout.tsx
  services-js/registry-certs/client/common/CostSummary.stories.tsx
  services-js/registry-certs/client/common/CostSummary.tsx
  services-js/registry-certs/client/common/Nav.stories.tsx
  services-js/registry-certs/client/common/Nav.tsx
  services-js/registry-certs/client/dao/CheckoutDao.test.ts
  services-js/registry-certs/client/dao/CheckoutDao.ts
  services-js/registry-certs/client/death/cart/CartItem.stories.tsx
  services-js/registry-certs/client/death/cart/CartItem.test.tsx
  services-js/registry-certs/client/death/cart/CartItem.tsx
  services-js/registry-certs/client/death/cart/CartPage.stories.tsx
  services-js/registry-certs/client/death/cart/CartPage.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.stories.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.test.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.tsx
  services-js/registry-certs/client/death/checkout/CheckoutPage.test.tsx
  services-js/registry-certs/client/death/checkout/CheckoutPage.tsx
  services-js/registry-certs/client/death/checkout/ConfirmationContent.stories.tsx
  services-js/registry-certs/client/death/checkout/ConfirmationContent.tsx
  services-js/registry-certs/client/death/checkout/OrderDetails.stories.tsx
  services-js/registry-certs/client/death/checkout/OrderDetails.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.stories.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.test.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.stories.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.test.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.stories.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.test.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.tsx
  services-js/registry-certs/client/death/checkout/__snapshots__/CheckoutPage.test.tsx.snap
  services-js/registry-certs/client/death/search/SearchPage.stories.tsx
  services-js/registry-certs/client/death/search/SearchPage.test.tsx
  services-js/registry-certs/client/death/search/SearchPage.tsx
  services-js/registry-certs/client/queries/submit-death-certificate-order.test.ts
  services-js/registry-certs/client/queries/submit-death-certificate-order.ts
  services-js/registry-certs/client/store/DeathCertificateCart.test.ts
  services-js/registry-certs/client/store/DeathCertificateCart.ts
  services-js/registry-certs/pages/_app.tsx
Labels: registry-certs

#100 More death certs naming updates
  services-js/registry-certs/client/common/CostSummary.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.tsx
  services-js/registry-certs/client/death/checkout/CheckoutPage.tsx
  services-js/registry-certs/client/death/checkout/OrderDetails.tsx
  services-js/registry-certs/client/store/DeathCertificateCart.ts
  services-js/registry-certs/lib/costs.test.ts
  services-js/registry-certs/lib/costs.ts
  services-js/registry-certs/server/graphql/death-certificates.test.ts
  services-js/registry-certs/server/graphql/death-certificates.ts
  services-js/registry-certs/server/graphql/mutation.ts
  services-js/registry-certs/server/services/RegistryDb.ts
  services-js/registry-certs/server/services/RegistryDbFake.ts
  services-js/registry-certs/server/stripe-events.test.ts
Labels: registry-certs

#97 Commissions app form edits
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/components/Modals.stories.tsx
  modules-js/react-fleet/src/components/StatusModal.tsx
  modules-js/react-fleet/src/form-elements/inputs/FileInput.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/FileInput.test.ts
  modules-js/react-fleet/src/form-elements/inputs/FileInput.tsx
  modules-js/react-fleet/src/form-elements/inputs/Radio.tsx
  modules-js/react-fleet/src/react-fleet.ts
  modules-js/react-fleet/src/sectioning-elements/CollapsibleSection.stories.tsx
  modules-js/react-fleet/src/sectioning-elements/CollapsibleSection.tsx
  services-js/commissions-app/package.json
  services-js/commissions-app/src/client/ApplicationForm.tsx
  services-js/commissions-app/src/client/ApplicationSubmitted.tsx
  services-js/commissions-app/src/client/CommissionsListSection.tsx
  services-js/commissions-app/src/client/MyComponent.test.ts
  services-js/commissions-app/src/client/MyComponent.tsx
  services-js/commissions-app/src/client/__snapshots__/MyComponent.test.ts.snap
  services-js/commissions-app/src/lib/validationSchema.ts
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-app/src/stories/ApplyPage.stories.tsx
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/commissions-search/src/App.js
  services-js/commissions-search/src/ResultList.js
Labels: commissions-app

#101 upgraded typescript and typescript-eslint-parser
  modules-js/deploy-tools/package.json
  modules-js/graphql-typescript/package.json
  modules-js/hapi-common/package.json
  modules-js/hapi-next/package.json
  modules-js/mssql-common/package.json
  modules-js/mssql-typescript/package.json
  modules-js/next-client-common/package.json
  modules-js/percy-common/package.json
  modules-js/react-fleet/package.json
  modules-js/srv-decrypt-env/package.json
  package.json
  services-js/access-boston/package.json
  services-js/commissions-app/package.json
  services-js/registry-certs/package.json
  templates/js-browser-module/package.json
  templates/js-browser-module/template/package.json
  templates/js-server-module/package.json
  templates/js-server-module/template/package.json
  yarn.lock
Labels: tech debt

#102 Payment webhooks server
  modules-js/deploy-tools/src/helpers.ts
  modules-js/deploy-tools/src/travis-service-deploy.ts
  services-js/payment-webhooks/.babelrc
  services-js/payment-webhooks/.dockerignore
  services-js/payment-webhooks/.eslintignore
  services-js/payment-webhooks/.eslintrc.json
  services-js/payment-webhooks/.flowconfig
  services-js/payment-webhooks/.gitignore
  services-js/payment-webhooks/.travis.yml
  services-js/payment-webhooks/Dockerfile
  services-js/payment-webhooks/LICENSE.md
  services-js/payment-webhooks/README.md
  services-js/payment-webhooks/deploy/deploy.sh
  services-js/payment-webhooks/deploy/setup.yml
  services-js/payment-webhooks/env.sample
  services-js/payment-webhooks/fixtures/stripe/balance-transaction.json
  services-js/payment-webhooks/fixtures/stripe/charge-succeeded.json
  services-js/payment-webhooks/fixtures/stripe/charge.json
  services-js/payment-webhooks/flow-typed/npm/hapi_v16.x.x.js
  services-js/payment-webhooks/flow-typed/npm/jest_v20.x.x.js
  services-js/payment-webhooks/flow-typed/npm/opbeat_vx.x.x.js
  services-js/payment-webhooks/flow-typed/npm/stripe_vx.x.x.js
  services-js/payment-webhooks/gulpfile.babel.js
  services-js/payment-webhooks/package.json
  services-js/payment-webhooks/scripts/test-latest-charge.js
  services-js/payment-webhooks/server/__snapshots__/stripe-events.test.js.snap
  services-js/payment-webhooks/server/index.js
  services-js/payment-webhooks/server/lib/decrypt-env.js
  services-js/payment-webhooks/server/lib/soap-helpers.js
  services-js/payment-webhooks/server/server.js
  services-js/payment-webhooks/server/server.test.js
  services-js/payment-webhooks/server/services/INovah.js
  services-js/payment-webhooks/server/services/INovah.test.js
  services-js/payment-webhooks/server/services/__snapshots__/INovah.test.js.snap
  services-js/payment-webhooks/server/stripe-events.js
  services-js/payment-webhooks/server/stripe-events.test.js
  yarn.lock
Labels: payment-webhooks

#103 Changes payment-webhooks to TypeScript
  services-js/payment-webhooks/.babelrc
  services-js/payment-webhooks/.dockerignore
  services-js/payment-webhooks/.eslintignore
  services-js/payment-webhooks/.eslintrc.json
  services-js/payment-webhooks/.gitignore
  services-js/payment-webhooks/.travis.yml
  services-js/payment-webhooks/deploy/deploy.sh
  services-js/payment-webhooks/deploy/setup.yml
  services-js/payment-webhooks/flow-typed/npm/hapi_v16.x.x.js
  services-js/payment-webhooks/flow-typed/npm/jest_v20.x.x.js
  services-js/payment-webhooks/flow-typed/npm/opbeat_vx.x.x.js
  services-js/payment-webhooks/flow-typed/npm/stripe_vx.x.x.js
  services-js/payment-webhooks/gulpfile.babel.js
  services-js/payment-webhooks/package.json
  services-js/payment-webhooks/server/__snapshots__/stripe-events.test.ts.snap
  services-js/payment-webhooks/server/index.ts
  services-js/payment-webhooks/server/lib/decrypt-env.js
  services-js/payment-webhooks/server/lib/soap-helpers.ts
  services-js/payment-webhooks/server/server.test.ts
  services-js/payment-webhooks/server/server.ts
  services-js/payment-webhooks/server/services/INovah.test.ts
  services-js/payment-webhooks/server/services/INovah.ts
  services-js/payment-webhooks/server/services/__snapshots__/INovah.test.ts.snap
  services-js/payment-webhooks/server/stripe-events.test.ts
  services-js/payment-webhooks/server/stripe-events.ts
  services-js/payment-webhooks/tsconfig.json
  yarn.lock
Labels: payment-webhooks

#104 Updates payment webhooks to Hapi 17
  modules-js/hapi-common/package.json
  services-js/payment-webhooks/package.json
  services-js/payment-webhooks/server/server.test.ts
  services-js/payment-webhooks/server/server.ts
  yarn.lock
Labels: payment-webhooks

#106 Fixes regression in handling of NextJS HMR routes
  modules-js/hapi-next/src/hapi-next.ts
Labels: bug

#107 ui adjustments, fixes #68
  services-js/commissions-app/src/client/ApplicantInformationSection.tsx
  services-js/commissions-app/src/client/ApplicationForm.tsx
  services-js/commissions-app/src/client/CommissionsListSection.tsx
  services-js/commissions-app/src/lib/validationSchema.ts
  services-js/commissions-app/src/pages/_document.tsx
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: commissions-app

#108 Prep for apply form submissions
  services-js/commissions-app/src/client/ApplicationForm.tsx
  services-js/commissions-app/src/client/CommissionsListSection.tsx
  services-js/commissions-app/src/client/common/TextInputContainer.tsx
  services-js/commissions-app/src/lib/validationSchema.ts
  services-js/commissions-app/src/pages/_document.tsx
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-app/src/server/commissions-app.ts
  services-js/commissions-app/src/stories/ApplyPage.stories.tsx
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: commissions-app

#109 added polyfill; minor component rework
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/sectioning-elements/CollapsibleSection.tsx
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: commissions-app

#110 Sends submitted application to the database
  services-js/commissions-app/src/client/ApplicationForm.tsx
  services-js/commissions-app/src/client/CommissionsListSection.tsx
  services-js/commissions-app/src/lib/validationSchema.ts
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-app/src/server/commissions-app.ts
  services-js/commissions-app/src/server/dao/CommissionsDao.ts
  services-js/commissions-app/src/server/dao/CommissionsDaoFake.ts
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: commissions-app

#111 Storybook / form cleanup for Commissions App
  modules-js/hapi-common/src/hapi-common.ts
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/components/StatusModal.stories.tsx
  modules-js/react-fleet/src/components/StatusModal.tsx
  modules-js/react-fleet/src/form-elements/inputs/Textarea.tsx
  services-js/commissions-app/package.json
  services-js/commissions-app/src/client/ApplicantInformationSection.tsx
  services-js/commissions-app/src/client/ApplicationForm.stories.tsx
  services-js/commissions-app/src/client/ApplicationForm.tsx
  services-js/commissions-app/src/client/ApplicationSubmitted.tsx
  services-js/commissions-app/src/client/common/TextInputContainer.tsx
  services-js/commissions-app/src/lib/validationSchema.ts
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-app/src/server/commissions-app.ts
  services-js/commissions-app/src/stories/ApplyPage.stories.tsx
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/commissions-app/static/assets/favicon.ico
  yarn.lock
Labels: commissions-app

#112 passes “required” prop down for native <input> elements
  services-js/commissions-app/src/client/ApplicationForm.stories.tsx
  services-js/commissions-app/src/client/ApplicationForm.tsx
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: commissions-app

#113 Commissions list design update
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/inputs/Checkbox.tsx
  services-js/commissions-app/package.json
  services-js/commissions-app/src/client/ApplicationForm.stories.tsx
  services-js/commissions-app/src/client/ApplicationForm.tsx
  services-js/commissions-app/src/client/CommissionsListSection.stories.tsx
  services-js/commissions-app/src/client/CommissionsListSection.tsx
  services-js/commissions-app/src/client/common/style-common.ts
  services-js/commissions-app/src/client/graphql/fetch-commissions.ts
  services-js/commissions-app/src/client/graphql/queries.d.ts
  services-js/commissions-app/src/pages/_document.tsx
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-app/src/server/commissions-app.ts
  services-js/commissions-app/src/stories/ApplyPage.stories.tsx
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/commissions-app/static/assets/external-link.svg
Labels: commissions-app

#114 Changes "Field" to a makeField function
  services-js/commissions-app/src/client/ApplicantInformationSection.tsx
  services-js/commissions-app/src/client/ApplicationForm.tsx
Labels: commissions-app

#116 Adds Google Analytics to commissions-app
  modules-js/next-client-common/package.json
  modules-js/next-client-common/src/GaSiteAnalytics.ts
  modules-js/next-client-common/src/GtagSiteAnalytics.tsx
  modules-js/next-client-common/src/RouterListener.ts
  modules-js/next-client-common/src/SiteAnalytics.ts
  modules-js/next-client-common/src/gtag.d.ts
  modules-js/next-client-common/src/next-client-common.ts
  services-js/commissions-app/src/pages/_app.tsx
  services-js/commissions-app/src/pages/_document.tsx
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-app/src/server/commissions-app.ts
  services-js/registry-certs/client/lib/RouterListener.ts
  services-js/registry-certs/client/lib/SiteAnalytics.ts
  yarn.lock
Labels: commissions-app

#115 Commissions app confirmation emails
  services-js/commissions-app/.storybook/webpack.config.js
  services-js/commissions-app/package.json
  services-js/commissions-app/src/lib/validationSchema.ts
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-app/src/server/commissions-app.ts
  services-js/commissions-app/src/server/dao/CommissionsDao.ts
  services-js/commissions-app/src/server/email/EmailContent.stories.tsx
  services-js/commissions-app/src/server/email/EmailContent.test.ts
  services-js/commissions-app/src/server/email/EmailContent.ts
  services-js/commissions-app/src/server/email/__snapshots__/EmailContent.test.ts.snap
  services-js/commissions-app/src/server/email/applicant.mjml.hbs
  services-js/commissions-app/src/server/email/applicant.text.hbs
  services-js/commissions-app/src/server/email/handlebars-helpers.ts
  services-js/commissions-app/src/server/email/policyOffice.mjml.hbs
  services-js/commissions-app/src/server/email/policyOffice.text.hbs
  services-js/commissions-app/src/server/services/Email.test.ts
  services-js/commissions-app/src/server/services/Email.ts
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
  yarn.lock
Labels: commissions-app

#119 Clears build dirs when resetting templates
  templates/js-browser-module/package.json
  templates/js-server-module/package.json
Labels: tech debt

#123 Adds a form-common module for HTML form bits
  modules-js/form-common/.babelrc
  modules-js/form-common/package.json
  modules-js/form-common/rollup.config.js
  modules-js/form-common/src/form-common.test.ts
  modules-js/form-common/src/form-common.ts
  modules-js/form-common/tsconfig.json
  services-js/access-boston/package.json
  services-js/access-boston/src/lib/validation.ts
  services-js/commissions-app/package.json
  services-js/commissions-app/src/client/ApplicationForm.stories.tsx
  services-js/commissions-app/src/client/ApplicationForm.tsx
  services-js/commissions-app/src/lib/validationSchema.ts
  services-js/commissions-app/src/pages/commissions/apply.tsx
Labels: commissions-app

#124 Commissions app/qa feedback
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/inputs/Checkbox.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/Checkbox.tsx
  modules-js/react-fleet/src/sectioning-elements/CollapsibleSection.tsx
  services-js/commissions-app/src/client/ApplicationForm.tsx
  services-js/commissions-app/src/client/CommissionsListSection.tsx
  services-js/commissions-app/src/server/email/__snapshots__/EmailContent.test.ts.snap
  services-js/commissions-app/src/server/email/applicant.mjml.hbs
  services-js/commissions-app/src/server/email/applicant.text.hbs
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: commissions-app

#125 Re-encrypts Slack room with correct repo
  .travis.yml
Labels: tech debt

#118 Factors out registry-certs accessibility
  modules-js/next-client-common/src/GaSiteAnalytics.ts
  modules-js/next-client-common/src/GtagSiteAnalytics.tsx
  modules-js/next-client-common/src/RouterListener.ts
  modules-js/next-client-common/src/ScreenReaderSupport.tsx
  modules-js/next-client-common/src/SiteAnalytics.ts
  modules-js/next-client-common/src/next-client-common.ts
  modules-js/react-fleet/package.json
  modules-js/react-fleet/rollup.config.js
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/components/StatusModal.tsx
  modules-js/react-fleet/src/form-elements/inputs/Checkbox.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/Checkbox.tsx
  modules-js/react-fleet/src/sectioning-elements/CollapsibleSection.tsx
  modules-js/react-fleet/src/sectioning-elements/SectionHeader.tsx
  services-js/access-boston/src/client/device-verification/DeviceVerificationForm.tsx
  services-js/access-boston/src/pages/_app.tsx
  services-js/access-boston/src/pages/_document.tsx
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/index.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/commissions-app/fixtures/Authorities.json
  services-js/commissions-app/fixtures/BoardMembers.json
  services-js/commissions-app/fixtures/Boards.json
  services-js/commissions-app/fixtures/Departments.json
  services-js/commissions-app/src/client/ApplicantInformationSection.tsx
  services-js/commissions-app/src/client/ApplicationForm.tsx
  services-js/commissions-app/src/client/CommissionsListSection.tsx
  services-js/commissions-app/src/pages/_app.tsx
  services-js/commissions-app/src/pages/_document.tsx
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-app/src/server/commissions-app.ts
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/commissions-search/src/FacetList.js
  services-js/registry-certs/client/death/cart/CartItem.stories.tsx
  services-js/registry-certs/client/death/cart/CartItem.test.tsx
  services-js/registry-certs/client/death/cart/CartItem.tsx
  services-js/registry-certs/client/death/cart/CartPage.stories.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.stories.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.test.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.tsx
  services-js/registry-certs/client/death/checkout/CheckoutPage.test.tsx
  services-js/registry-certs/client/death/checkout/CheckoutPage.tsx
  services-js/registry-certs/client/death/search/SearchPage.stories.tsx
  services-js/registry-certs/client/death/search/SearchPage.test.tsx
  services-js/registry-certs/client/lib/RouterListener.ts
  services-js/registry-certs/client/lib/SiteAnalytics.ts
  services-js/registry-certs/client/store/Accessibility.ts
  services-js/registry-certs/client/store/DeathCertificateCart.test.ts
  services-js/registry-certs/client/store/DeathCertificateCart.ts
  services-js/registry-certs/package.json
  services-js/registry-certs/pages/_app.tsx
  services-js/registry-certs/pages/_document.tsx
  yarn.lock
Labels: access-boston, commissions-app, registry-certs

#127 Removes a hot-reloading test that got committed
  services-js/access-boston/src/pages/index.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#128 Changes "prepare" to only build modules
  package.json
Labels: tech debt

#131 Adds ContactForm component for commissions
  modules-js/react-fleet/src/components.d.ts
  modules-js/react-fleet/src/components/ContactForm.tsx
  modules-js/react-fleet/src/react-fleet.ts
  services-js/commissions-app/src/pages/_document.tsx
  services-js/commissions-app/src/server/graphql/schema.ts
  services-js/registry-certs/pages/_document.tsx
Labels: commissions-app
