Repository CityOfBoston/digital, pull requests merged in 2018-09, with the labels that each got.

#27 Removes unused old Gulp / Flow code and deps
  services-js/registry-certs/.flowconfig
  services-js/registry-certs/.nvmrc
  services-js/registry-certs/flow-decl/array-element.flow.js
  services-js/registry-certs/flow-decl/stripe.flow.js
  services-js/registry-certs/flow-typed/npm/hapi_v16.x.x.js
  services-js/registry-certs/flow-typed/npm/inert_v4.x.x.js
  services-js/registry-certs/flow-typed/npm/isomorphic-fetch_v2.x.x.js
  services-js/registry-certs/flow-typed/npm/jest_v21.x.x.js
  services-js/registry-certs/flow-typed/npm/mssql_vx.x.x.js
  services-js/registry-certs/flow-typed/npm/next_vx.x.x.js
  services-js/registry-certs/flow-typed/npm/postmark_vx.x.x.js
  services-js/registry-certs/flow-typed/npm/stripe_vx.x.x.js
  services-js/registry-certs/flow-typed/npm/validatorjs_vx.x.x.js
  services-js/registry-certs/gulpfile.babel.js
  services-js/registry-certs/package.json
  services-js/registry-certs/tasks/fetch-templates.js
  services-js/registry-certs/tasks/generate-schema.js
  yarn.lock
Labels: registry-certs, tech debt

#34 Keeps the dead from aging
  services-js/registry-certs/package.json
  services-js/registry-certs/server/graphql/death-certificates.test.ts
  services-js/registry-certs/server/graphql/death-certificates.ts
Labels: bug

#40 Implementation of forgot password
  modules-js/hapi-common/src/browser-auth-plugin.ts
  services-js/access-boston/src/client/AccessBostonHeader.tsx
  services-js/access-boston/src/client/graphql/queries.d.ts
  services-js/access-boston/src/client/graphql/reset-password.ts
  services-js/access-boston/src/client/styles.ts
  services-js/access-boston/src/pages/_app.tsx
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/forgot.tsx
  services-js/access-boston/src/server/Session.ts
  services-js/access-boston/src/server/access-boston.ts
  services-js/access-boston/src/server/forgot-password-auth.ts
  services-js/access-boston/src/server/graphql/schema.ts
  services-js/access-boston/src/server/login-auth.ts
  services-js/access-boston/src/server/services/IdentityIq.ts
  services-js/access-boston/src/server/services/IdentityIqFake.ts
  services-js/access-boston/src/stories/ForgotPasswordPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#45 commissions-search prod push
  modules-js/deploy-tools/src/travis-s3-apps-deploy.ts
  modules-js/react-fleet/package.json
  modules-js/react-fleet/rollup.config.js
  modules-js/react-fleet/src/__snapshots__/SectionHeader.test.tsx.snap
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/components/Footer.stories.tsx
  modules-js/react-fleet/src/components/Footer.tsx
  modules-js/react-fleet/src/components/Header.tsx
  modules-js/react-fleet/src/components/HeaderAndMenu.stories.tsx
  modules-js/react-fleet/src/components/Menu.tsx
  modules-js/react-fleet/src/components/SecondaryNav.tsx
  modules-js/react-fleet/src/elements/SectionHeader.stories.tsx
  modules-js/react-fleet/src/elements/SectionHeader.test.tsx
  modules-js/react-fleet/src/elements/SectionHeader.tsx
  modules-js/react-fleet/src/elements/buttons/Buttons.stories.tsx
  modules-js/react-fleet/src/elements/buttons/CloseButton.tsx
  modules-js/react-fleet/src/elements/inputs/Checkbox.stories.tsx
  modules-js/react-fleet/src/elements/inputs/Checkbox.tsx
  modules-js/react-fleet/src/elements/inputs/FileInput.stories.tsx
  modules-js/react-fleet/src/elements/inputs/FileInput.test.ts
  modules-js/react-fleet/src/elements/inputs/FileInput.tsx
  modules-js/react-fleet/src/elements/inputs/TextInput.stories.tsx
  modules-js/react-fleet/src/elements/inputs/TextInput.tsx
  modules-js/react-fleet/src/elements/inputs/Textarea.stories.tsx
  modules-js/react-fleet/src/elements/inputs/Textarea.tsx
  modules-js/react-fleet/src/layouts/AppLayout.stories.tsx
  modules-js/react-fleet/src/layouts/AppLayout.tsx
  modules-js/react-fleet/src/react-fleet.ts
  modules-js/react-fleet/src/utilities/constants.ts
  modules-js/react-fleet/src/utilities/css.ts
  services-js/commissions-app/src/client/common/Checkbox.tsx
  services-js/commissions-app/src/client/common/CommentInput.stories.tsx
  services-js/commissions-app/src/client/common/CommentInput.tsx
  services-js/commissions-app/src/client/common/TextInput.stories.tsx
  services-js/commissions-app/src/client/common/TextInput.tsx
  services-js/commissions-app/src/client/common/TextInputContainer.tsx
  services-js/commissions-app/src/lib/validationSchema.ts
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
  yarn.lock
Labels: commissions-search

#47 commssions-search prod push
  modules-js/react-fleet/src/elements/__snapshots__/SectionHeader.test.tsx.snap
Labels: commissions-search

#50 Sort query results
  services-js/commissions-app/src/pages/commissions/apply.tsx
Labels: commissions-app

#49 Adds TestCafe integration tests to Access Boston
  .gitignore
  .travis.yml
  modules-js/next-client-common/package.json
  modules-js/next-client-common/src/next-client-common.ts
  modules-js/react-fleet/package.json
  package.json
  services-js/access-boston/README.md
  services-js/access-boston/fixtures/identityiq/LaunchWorkflow-ChangePassword-success.json
  services-js/access-boston/fixtures/identityiq/LaunchWorkflow-ResetPassword-success.json
  services-js/access-boston/package.json
  services-js/access-boston/src/integration/LoginFormModel.ts
  services-js/access-boston/src/integration/PageModel.ts
  services-js/access-boston/src/integration/PasswordPageModel.ts
  services-js/access-boston/src/integration/change-password.testcafe.ts
  services-js/access-boston/src/integration/forgot-password.testcafe.ts
  services-js/access-boston/src/integration/testcafe-helpers.ts
  services-js/access-boston/src/lib/validation.ts
  services-js/access-boston/src/pages/_app.tsx
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/forgot.tsx
  services-js/access-boston/src/server/access-boston.ts
  services-js/access-boston/src/server/forgot-password-auth.ts
  services-js/access-boston/src/server/graphql/schema.ts
  services-js/access-boston/src/server/login-auth.ts
  services-js/access-boston/src/server/services/IdentityIqFake.ts
  services-js/access-boston/src/server/services/SamlAuthFake.ts
  services-js/access-boston/src/server/start.ts
  services-js/access-boston/tsconfig.json
  services-js/access-boston/tsconfig.server.json
  templates/js-browser-module/package.json
  templates/js-server-module/package.json
  yarn.lock
Labels: access-boston

#51 Upgrades Next to 7 and Babel to 7
  modules-js/config-babel/browser.js
  modules-js/config-babel/package.json
  modules-js/config-babel/typescript.js
  modules-js/config-jest-babel/README.md
  modules-js/config-jest-babel/package.json
  modules-js/config-jest-typescript/README.md
  modules-js/config-jest-typescript/package.json
  modules-js/deploy-tools/package.json
  modules-js/graphql-typescript/package.json
  modules-js/hapi-common/package.json
  modules-js/hapi-next/package.json
  modules-js/mssql-common/package.json
  modules-js/next-client-common/package.json
  modules-js/percy-common/package.json
  modules-js/react-fleet/package.json
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/srv-decrypt-env/package.json
  package.json
  services-js/311-indexer/.babelrc
  services-js/311-indexer/package.json
  services-js/access-boston/package.json
  services-js/access-boston/src/client/graphql/change-password.ts
  services-js/access-boston/src/client/graphql/fetch-account-and-apps.ts
  services-js/access-boston/src/client/graphql/fetch-account.ts
  services-js/access-boston/src/client/graphql/queries.d.ts
  services-js/access-boston/src/client/graphql/reset-password.ts
  services-js/access-boston/src/pages/_app.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/commissions-app/package.json
  services-js/commissions-app/src/client/graphql/fetch-commissions.ts
  services-js/commissions-app/src/client/graphql/queries.d.ts
  services-js/commissions-search/package.json
  services-js/registry-certs/.babelrc
  services-js/registry-certs/client/queries/fetch-death-certificates.test.ts
  services-js/registry-certs/client/queries/fetch-death-certificates.ts
  services-js/registry-certs/client/queries/graphql-types.d.ts
  services-js/registry-certs/client/queries/lookup-death-certificate-order.test.ts
  services-js/registry-certs/client/queries/lookup-death-certificate-order.ts
  services-js/registry-certs/client/queries/search-death-certificates.test.ts
  services-js/registry-certs/client/queries/search-death-certificates.ts
  services-js/registry-certs/client/queries/submit-death-certificate-order.test.ts
  services-js/registry-certs/client/queries/submit-death-certificate-order.ts
  services-js/registry-certs/client/types.ts
  services-js/registry-certs/package.json
  templates/js-browser-module/package.json
  templates/js-browser-module/template/package.json
  templates/js-server-module/package.json
  templates/js-server-module/template/package.json
  yarn.lock
Labels: tech debt

#55 Removes styled-jsx from registry-certs
  services-js/registry-certs/.storybook/config.js
  services-js/registry-certs/.storybook/preview-head.html
  services-js/registry-certs/client/AppLayout.tsx
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/app.ts
  services-js/registry-certs/client/common/CertificateRow.tsx
  services-js/registry-certs/client/common/CostSummary.tsx
  services-js/registry-certs/client/common/Nav.tsx
  services-js/registry-certs/client/common/style-constants.ts
  services-js/registry-certs/client/common/style-tags.tsx
  services-js/registry-certs/client/death/cart/CartItem.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.tsx
  services-js/registry-certs/client/death/checkout/OrderDetails.tsx
  services-js/registry-certs/client/death/receipt/ReceiptPage.tsx
  services-js/registry-certs/client/death/search/SearchPage.tsx
  services-js/registry-certs/package.json
  services-js/registry-certs/pages/_document.tsx
  yarn.lock
Labels: registry-certs

#58 Start of Access Boston registration flow
  services-js/access-boston/src/client/AccessBostonHeader.stories.tsx
  services-js/access-boston/src/client/PasswordPolicy.tsx
  services-js/access-boston/src/client/auth-helpers.ts
  services-js/access-boston/src/client/graphql/fetch-account-and-apps.ts
  services-js/access-boston/src/client/graphql/fetch-account.ts
  services-js/access-boston/src/client/graphql/queries.d.ts
  services-js/access-boston/src/integration/registration-flow.testcafe.ts
  services-js/access-boston/src/pages/_app.tsx
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/index.tsx
  services-js/access-boston/src/pages/register.tsx
  services-js/access-boston/src/server/Session.ts
  services-js/access-boston/src/server/graphql/schema.ts
  services-js/access-boston/src/server/login-auth.ts
  services-js/access-boston/src/server/services/SamlAuth.ts
  services-js/access-boston/src/server/services/SamlAuthFake.ts
  services-js/access-boston/src/stories/ChangePasswordPage.stories.tsx
  services-js/access-boston/src/stories/ForgotPasswordPage.stories.tsx
  services-js/access-boston/src/stories/IndexPage.stories.tsx
  services-js/access-boston/src/stories/RegisterPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#59 Form work, reorganization
  modules-js/react-fleet/rollup.config.js
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/elements/SectionHeader.test.tsx
  modules-js/react-fleet/src/elements/SectionHeader.tsx
  modules-js/react-fleet/src/elements/__snapshots__/SectionHeader.test.tsx.snap
  modules-js/react-fleet/src/elements/inputs/TextInput.tsx
  modules-js/react-fleet/src/form-elements/SelectDropdown.stories.tsx
  modules-js/react-fleet/src/form-elements/SelectDropdown.tsx
  modules-js/react-fleet/src/form-elements/buttons/Buttons.stories.tsx
  modules-js/react-fleet/src/form-elements/buttons/CloseButton.tsx
  modules-js/react-fleet/src/form-elements/inputs/Checkbox.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/Checkbox.tsx
  modules-js/react-fleet/src/form-elements/inputs/FileInput.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/FileInput.test.ts
  modules-js/react-fleet/src/form-elements/inputs/FileInput.tsx
  modules-js/react-fleet/src/form-elements/inputs/TextInput.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/TextInput.tsx
  modules-js/react-fleet/src/form-elements/inputs/Textarea.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/Textarea.tsx
  modules-js/react-fleet/src/layouts/AppLayout.stories.tsx
  modules-js/react-fleet/src/react-fleet.ts
  modules-js/react-fleet/src/sectioning-elements/SectionHeader.stories.tsx
  modules-js/react-fleet/src/sectioning-elements/SectionHeader.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/commissions-app/src/client/ApplicantInformationSection.tsx
  services-js/commissions-app/src/client/common/TextInputContainer.tsx
  services-js/commissions-app/src/lib/validationSchema.ts
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: commissions-app

#62 Injects Emotion’s server-side styles
  services-js/registry-certs/pages/_document.tsx
Labels: registry-certs

#61 small styling adjustments
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/inputs/FileInput.tsx
  modules-js/react-fleet/src/form-elements/inputs/TextInput.tsx
  services-js/commissions-app/src/client/ApplicantInformationSection.tsx
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: commissions-app

#63 PingID backend support for MFA registration
  services-js/access-boston/.gitignore
  services-js/access-boston/fixtures/pingid/adduser.json
  services-js/access-boston/fixtures/pingid/getuserdetails-exists.json
  services-js/access-boston/fixtures/pingid/getuserdetails-notexists.json
  services-js/access-boston/package.json
  services-js/access-boston/src/server/Session.ts
  services-js/access-boston/src/server/access-boston.ts
  services-js/access-boston/src/server/graphql/mfa.ts
  services-js/access-boston/src/server/graphql/schema.ts
  services-js/access-boston/src/server/graphql/workflows.ts
  services-js/access-boston/src/server/login-auth.ts
  services-js/access-boston/src/server/services/IdentityIqFake.ts
  services-js/access-boston/src/server/services/PingId.ts
  services-js/access-boston/src/server/services/PingIdFake.ts
  services-js/access-boston/src/server/services/SamlAuth.ts
  services-js/access-boston/src/server/services/SamlAuthFake.ts
  yarn.lock
Labels: access-boston

#65 React 16.4 -> 16.5 update
  modules-js/hapi-next/package.json
  modules-js/react-fleet/package.json
  services-js/access-boston/package.json
  services-js/commissions-app/package.json
  services-js/commissions-search/package.json
  services-js/registry-certs/package.json
  yarn.lock
Labels: tech debt

#66 Defend against email address being null in SAML
  services-js/access-boston/src/server/services/SamlAuth.ts
Labels: access-boston

#67 fixes #60; commissions-search work
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/inputs/Checkbox.tsx
  modules-js/react-fleet/src/form-elements/inputs/Radio.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/Radio.tsx
  modules-js/react-fleet/src/react-fleet.ts
  services-js/commissions-app/src/pages/commissions/apply.tsx
  services-js/commissions-search/package.json
  services-js/commissions-search/src/App.js
  services-js/commissions-search/src/FacetList.css
  services-js/commissions-search/src/FacetList.js
  services-js/commissions-search/src/ResultList.js
  services-js/commissions-search/src/Search.js
Labels: commissions-app, commissions-search

#69 Fixes when SAML assertion has empty attributes
  services-js/access-boston/package.json
  services-js/access-boston/src/server/access-boston.ts
  services-js/access-boston/src/server/services/SamlAuth.ts
  yarn.lock
Labels: access-boston
