Repository CityOfBoston/digital, pull requests merged in 2018-12, with the labels that each got.

#185 Converts 311 from Opbeat to Rollbar
  services-js/311/.env.sample
  services-js/311/components/error/ErrorLayout.tsx
  services-js/311/components/request/request/RequestDialog.tsx
  services-js/311/data/store/AddressSearch.ts
  services-js/311/data/store/RequestSearch.ts
  services-js/311/opbeat.js
  services-js/311/package.json
  services-js/311/pages/_document.tsx
  services-js/311/pages/rollbar.d.ts
  services-js/311/server/graphql/index.ts
  services-js/311/server/graphql/mutation.ts
  services-js/311/server/index.ts
  services-js/311/server/opbeat-graphql.ts
  services-js/311/server/server.ts
  services-js/311/server/services/ArcGIS.test.ts
  services-js/311/server/services/ArcGIS.ts
  services-js/311/server/services/Elasticsearch.ts
  services-js/311/server/services/Open311.ts
  services-js/311/server/services/Prediction.ts
  yarn.lock
Labels: 311

#186 Adds mn-fixed-child for Safari
  services-js/311/components/request/RequestLayout.tsx
  services-js/311/components/request/__snapshots__/RequestLayout.test.tsx.snap
Labels: 311

#187 Fixes for 311 Live Agent functionality
  services-js/311/components/request/RequestLayout.stories.tsx
  services-js/311/components/request/RequestLayout.test.tsx
  services-js/311/components/request/home/HomeDialog.test.tsx
  services-js/311/components/request/home/HomePane.stories.tsx
  services-js/311/components/request/home/HomePane.tsx
  services-js/311/data/store/LiveAgent.test.ts
  services-js/311/data/store/LiveAgent.ts
  services-js/311/data/store/LiveAgent.tsx
  services-js/311/pages/_app.tsx
  services-js/311/pages/_document.tsx
Labels: 311

#189 Avoids setting current unit for intersections
  services-js/311/components/request/request/LocationPopUp.tsx
  services-js/311/data/store/AddressSearch.ts
Labels: 311

#191 Adds nowrap around 311 case ID
  services-js/311/components/case/CaseView.tsx
  services-js/311/components/request/request/__snapshots__/RequestDialog.test.tsx.snap
Labels: 311

#190 Adds simple cache support to fetchGraphql
  modules-js/next-client-common/src/next-client-common.ts
  services-js/311/data/queries/load-service.ts
  services-js/311/data/queries/load-top-service-summaries.ts
  services-js/311/pages/_app.tsx
Labels: 311

#194 Updates TestCafe to 0.23.2
  services-js/311/.travis.yml
  services-js/311/package.json
  services-js/311/server/index.ts
  services-js/access-boston/package.json
  yarn.lock
Labels: 311, access-boston

#193 311 sorry page and telephone numbers on errors
  services-js/311/components/common/TelephoneNumbers.tsx
  services-js/311/components/error/ErrorLayout.stories.tsx
  services-js/311/components/error/ErrorLayout.tsx
  services-js/311/components/error/SorryLayout.stories.tsx
  services-js/311/components/error/SorryLayout.tsx
  services-js/311/components/request/request/SubmitPane.tsx
  services-js/311/components/request/request/__snapshots__/RequestDialog.test.tsx.snap
  services-js/311/components/request/translate/TranslateDialog.tsx
  services-js/311/components/style-constants.ts
  services-js/311/pages/sorry.ts
  services-js/311/server/server.ts
Labels: 311

#196 Changes 311 photo titles
  services-js/311/components/case/CaseView.tsx
Labels: 311

#195 Updates birth certs question workflow
  modules-js/react-fleet/src/react-fleet.ts
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/QuestionsFlow.stories.tsx
  services-js/registry-certs/client/birth/QuestionsFlow.tsx
  services-js/registry-certs/client/birth/questions/BornInBoston.tsx
  services-js/registry-certs/client/birth/questions/DateOfBirth.tsx
  services-js/registry-certs/client/birth/questions/EndFlow.tsx
  services-js/registry-certs/client/birth/questions/FieldsetComponent.tsx
  services-js/registry-certs/client/birth/questions/ForSelf.tsx
  services-js/registry-certs/client/birth/questions/HowRelated.tsx
  services-js/registry-certs/client/birth/questions/NameOnRecord.tsx
  services-js/registry-certs/client/birth/questions/ParentsLivedInBoston.tsx
  services-js/registry-certs/client/birth/questions/ParentsMarried.tsx
  services-js/registry-certs/client/birth/questions/ParentsNames.tsx
  services-js/registry-certs/client/birth/questions/QuestionComponent.tsx
  services-js/registry-certs/client/birth/questions/RadioItemComponent.tsx
  services-js/registry-certs/client/birth/questions/YesNoUnsureComponent.tsx
  services-js/registry-certs/client/birth/questions/styling.tsx
Labels: registry-certs

#197 Changes the browser URL for 311 suggest pane
  services-js/311/components/request/home/HomeDialog.tsx
Labels: 311

#200 Generalizes CostSummary component
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/common/CostSummary.stories.tsx
  services-js/registry-certs/client/common/CostSummary.tsx
  services-js/registry-certs/client/death/cart/CartPage.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.tsx
  services-js/registry-certs/lib/costs.ts
Labels: registry-certs

#201 Adds sourcemap generation for registry-certs
  services-js/registry-certs/next.config.js
  services-js/registry-certs/package.json
  services-js/registry-certs/pages/_document.tsx
  services-js/registry-certs/tsconfig.json
  yarn.lock
Labels: registry-certs

#202 Waits for the React app to start in TestCafe
  services-js/access-boston/src/integration/models/LoginFormModel.ts
Labels: access-boston

#205 Fixes for mobile UI for 311 search
  services-js/311/.storybook/__snapshots__/Storyshots.test.ts.snap
  services-js/311/components/search/RecentRequestRow.tsx
  services-js/311/components/search/RecentRequests.tsx
  services-js/311/components/search/SearchLayout.tsx
  services-js/311/server/graphql/index.ts
  services-js/311/server/server.ts
  services-js/311/server/services/Elasticsearch.ts
  services-js/311/server/services/ElasticsearchFake.ts
  services-js/311/server/services/__fixtures__/elasticsearch.json
Labels: 311

#204 Updates Rollbar to 2.5.1 across the board
  modules-js/hapi-common/package.json
  services-js/311-indexer/package.json
  services-js/311/package.json
  services-js/311/pages/_document.tsx
  services-js/access-boston/package.json
  services-js/access-boston/src/pages/_document.tsx
  services-js/commissions-app/package.json
  services-js/commissions-app/src/pages/_document.tsx
  services-js/internal-slack-bot/package.json
  services-js/payment-webhooks/package.json
  services-js/registry-certs/package.json
  services-js/registry-certs/pages/_document.tsx
  yarn.lock
Labels: tech debt

#203 Adds resiliency when localStorage is not available in the browser
  services-js/registry-certs/client/death/checkout/PaymentContent.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.tsx
  services-js/registry-certs/client/models/Order.ts
  services-js/registry-certs/client/store/DeathCertificateCart.ts
  services-js/registry-certs/client/store/OrderProvider.ts
  services-js/registry-certs/pages/_app.tsx
Labels: registry-certs

#209 Updates questions text; adds progress bar; general code cleanup
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/QuestionsFlow.stories.tsx
  services-js/registry-certs/client/birth/QuestionsFlow.tsx
  services-js/registry-certs/client/birth/constants.ts
  services-js/registry-certs/client/birth/questions/BornInBoston.tsx
  services-js/registry-certs/client/birth/questions/DateOfBirth.tsx
  services-js/registry-certs/client/birth/questions/EndFlow.tsx
  services-js/registry-certs/client/birth/questions/FieldsetComponent.tsx
  services-js/registry-certs/client/birth/questions/ForSelf.tsx
  services-js/registry-certs/client/birth/questions/NameOnRecord.tsx
  services-js/registry-certs/client/birth/questions/ParentsMarried.tsx
  services-js/registry-certs/client/birth/questions/ParentsNames.tsx
  services-js/registry-certs/client/birth/questions/QuestionComponent.tsx
  services-js/registry-certs/client/birth/questions/YesNoUnsureComponent.tsx
  services-js/registry-certs/client/birth/questions/styling.tsx
  services-js/registry-certs/client/birth/types.ts
Labels: registry-certs

#208 Starter TestCafe tests for 311
  .travis.yml
  services-js/311/.env.sample
  services-js/311/.storybook/__snapshots__/Storyshots.test.ts.snap
  services-js/311/components/common/FeedbackBanner.tsx
  services-js/311/components/map/LocationMap.tsx
  services-js/311/components/request/__snapshots__/RequestLayout.test.tsx.snap
  services-js/311/components/request/home/HomePane.tsx
  services-js/311/components/request/request/ContactPane.tsx
  services-js/311/components/request/request/LocationPopUp.tsx
  services-js/311/components/request/request/__snapshots__/RequestDialog.test.tsx.snap
  services-js/311/components/search/RecentRequests.tsx
  services-js/311/integration/search.testcafe.ts
  services-js/311/integration/services.testcafe.ts
  services-js/311/integration/testcafe-helpers.ts
  services-js/311/package.json
  services-js/311/pages/_app.tsx
  services-js/311/server/graphql/case.test.ts
  services-js/311/server/graphql/index.ts
  services-js/311/server/graphql/query.ts
  services-js/311/server/server.ts
  services-js/311/server/services/ArcGIS.test.ts
  services-js/311/server/services/ArcGIS.ts
  services-js/311/server/services/ArcGISFake.ts
  services-js/311/server/services/ElasticsearchFake.ts
  services-js/311/server/services/Open311.ts
  services-js/311/server/services/Open311Fake.ts
  services-js/311/server/services/Prediction.ts
  services-js/311/server/services/PredictionFake.ts
  services-js/311/server/services/Salesforce.ts
  services-js/311/server/services/__fixtures__/open311/metadata.ts
  services-js/311/server/services/__fixtures__/open311/request.ts
  services-js/311/server/services/__fixtures__/open311/services.json
  services-js/311/server/sitemap.ts
Labels: 311

#210 Uploads screenshots from Travis branch failures
  .travis.yml
Labels: tech debt

#214 Exits process if an exception happens on startup
  services-js/311/server/index.ts
Labels: 311

#213 Allows partial case numbers for legacy cases
  services-js/311/components/request/home/HomePane.tsx
  services-js/311/components/search/SearchLayout.tsx
  services-js/311/data/store/RequestSearch.test.ts
  services-js/311/data/store/RequestSearch.ts
Labels: 311

#215 Adds request flow integration test
  services-js/311/.storybook/__snapshots__/Storyshots.test.ts.snap
  services-js/311/components/common/FormDialog.tsx
  services-js/311/components/request/__snapshots__/RequestLayout.test.tsx.snap
  services-js/311/components/request/home/__snapshots__/HomeDialog.test.tsx.snap
  services-js/311/components/request/request/__snapshots__/RequestDialog.test.tsx.snap
  services-js/311/integration/CasePageModel.ts
  services-js/311/integration/ContactDialogModel.ts
  services-js/311/integration/HomeDialogModel.ts
  services-js/311/integration/LocationDialogModel.ts
  services-js/311/integration/QuestionsDialogModel.ts
  services-js/311/integration/home.testcafe.ts
  services-js/311/integration/search.testcafe.ts
  services-js/311/server/services/ArcGISFake.ts
  services-js/311/server/services/__fixtures__/arcgis/search.json
  services-js/311/server/services/__fixtures__/arcgis/units.json
Labels: 311

#218 Adjusts allocation code based on order type
  services-js/payment-webhooks/server/services/INovah.test.ts
  services-js/payment-webhooks/server/services/INovah.ts
  services-js/payment-webhooks/server/stripe-events.test.ts
  services-js/payment-webhooks/server/stripe-events.ts
Labels: payment-webhooks

#220 Fixes registry-certs for dev w/ no $API_KEYS
  services-js/registry-certs/server/server.ts
  services-js/registry-certs/server/services/RegistryDb.ts
Labels: registry-certs

#217 Adds mobx state object for birth certs
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/CheckoutFlow.tsx
  services-js/registry-certs/client/birth/QuestionsFlow.stories.tsx
  services-js/registry-certs/client/birth/QuestionsFlow.tsx
  services-js/registry-certs/client/birth/ReviewRequest.stories.tsx
  services-js/registry-certs/client/birth/ReviewRequest.tsx
  services-js/registry-certs/client/birth/constants.ts
  services-js/registry-certs/client/birth/questions/BornInBoston.tsx
  services-js/registry-certs/client/birth/questions/DateOfBirth.tsx
  services-js/registry-certs/client/birth/questions/ForSelf.tsx
  services-js/registry-certs/client/birth/questions/ParentsMarried.tsx
  services-js/registry-certs/client/birth/questions/ParentsNames.tsx
  services-js/registry-certs/client/birth/questions/QuestionComponent.tsx
  services-js/registry-certs/client/birth/questions/RadioItemComponent.tsx
  services-js/registry-certs/client/birth/questions/YesNoUnsureComponent.tsx
  services-js/registry-certs/client/birth/questions/styling.tsx
  services-js/registry-certs/client/birth/types.ts
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
  services-js/registry-certs/client/types.ts
  services-js/registry-certs/pages/_app.tsx
  services-js/registry-certs/pages/birth/checkout.ts
  services-js/registry-certs/pages/birth/review.ts
Labels: registry-certs

#221 Rework of error handling in checkout flow
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/dao/CheckoutDao.test.ts
  services-js/registry-certs/client/dao/CheckoutDao.ts
  services-js/registry-certs/client/death/checkout/CheckoutPage.test.tsx
  services-js/registry-certs/client/death/checkout/CheckoutPage.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.stories.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.stories.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.test.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.tsx
  services-js/registry-certs/client/models/Order.ts
  services-js/registry-certs/client/queries/graphql-types.ts
  services-js/registry-certs/client/queries/submit-death-certificate-order.ts
  services-js/registry-certs/package.json
  services-js/registry-certs/server/graphql/__snapshots__/index.test.js.snap
  services-js/registry-certs/server/graphql/mutation.ts
Labels: registry-certs
