Repository CityOfBoston/digital, pull requests merged in 2018-11, with the labels that each got.

#134 Fixes #133
  services-js/commissions-app/src/client/CommissionsListSection.tsx
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: commissions-app

#137 Backend support for birth certificates
  services-js/registry-certs/client/queries/graphql-types.d.ts
  services-js/registry-certs/client/queries/submit-death-certificate-order.ts
  services-js/registry-certs/lib/costs.ts
  services-js/registry-certs/server/graphql/__snapshots__/index.test.js.snap
  services-js/registry-certs/server/graphql/__snapshots__/mutation.test.ts.snap
  services-js/registry-certs/server/graphql/birth-certificates.ts
  services-js/registry-certs/server/graphql/index.ts
  services-js/registry-certs/server/graphql/mutation.test.ts
  services-js/registry-certs/server/graphql/mutation.ts
  services-js/registry-certs/server/graphql/query.ts
  services-js/registry-certs/server/services/RegistryDb.ts
  services-js/registry-certs/server/services/RegistryDbFake.ts
Labels: registry-certs

#138 README.md and .env.sample updates for first timers
  services-js/internal-slack-bot/.env.sample
  services-js/internal-slack-bot/README.md
  services-js/internal-slack-bot/src/server/server.ts
Labels: internal-slack-bot

#139 Flesh out deployment interaction
  services-js/internal-slack-bot/package.json
  services-js/internal-slack-bot/scripts/test-deploy.ts
  services-js/internal-slack-bot/src/server/server.ts
  services-js/internal-slack-bot/src/server/services/SlackClient.ts
  services-js/internal-slack-bot/src/server/services/interactions/DeploymentInteraction.ts
  services-js/internal-slack-bot/src/server/services/interactions/deploymentInteractions.ts
  services-js/internal-slack-bot/src/server/services/messages/deploymentMessages.ts
  yarn.lock
Labels: internal-slack-bot

#142 Server startup changes for ECS support
  services-js/internal-slack-bot/src/server/index.ts
  services-js/internal-slack-bot/src/server/server.ts
Labels: internal-slack-bot

#143 Updates readme; uses react-fleet constants instead of local file
  modules-js/react-fleet/src/utilities/constants.ts
  services-js/registry-certs/README.md
  services-js/registry-certs/client/AppLayout.tsx
  services-js/registry-certs/client/common/CertificateRow.tsx
  services-js/registry-certs/client/common/Nav.tsx
  services-js/registry-certs/client/common/style-constants.ts
  services-js/registry-certs/client/death/cart/CartItem.tsx
  services-js/registry-certs/client/death/checkout/OrderDetails.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.tsx
  services-js/registry-certs/client/death/receipt/ReceiptPage.tsx
Labels: registry-certs

#144 Removes template test parallelization
  .travis.yml
  package.json
  templates/js-browser-module/package.json
  templates/js-browser-module/src/js-browser-module.test.ts
  templates/js-server-module/package.json
  templates/js-server-module/src/js-server-module.test.ts
  yarn.lock
Labels: tech debt

#146 Makes production deploys use the Slack bot
  .travis.yml
  scripts/service-entrypoint.sh
  services-js/internal-slack-bot/.env.sample
  services-js/internal-slack-bot/src/server/server.ts
  services-js/internal-slack-bot/src/server/services/interactions/DeploymentInteraction.ts
Labels: internal-slack-bot

#147 Adds new component to library; adds readme; enhances AppLayout component
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/layouts/AppLayout.stories.tsx
  modules-js/react-fleet/src/layouts/AppLayout.tsx
  modules-js/react-fleet/src/navigation/BreadcrumbNav.stories.tsx
  modules-js/react-fleet/src/navigation/BreadcrumbNav.tsx
  modules-js/react-fleet/src/react-fleet.ts
  modules-js/react-fleet/templates/README.md
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/AppLayout.tsx
  services-js/registry-certs/client/PageLayout.tsx
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/death/cart/CartPage.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.tsx
  services-js/registry-certs/client/death/checkout/ConfirmationContent.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.tsx
  services-js/registry-certs/client/death/search/SearchPage.tsx
Labels: enhancement

#154 Upgrades 311 to Next 7 / Babel 7
  services-js/311-indexer/package.json
  services-js/311/.babelrc
  services-js/311/components/request/home/__snapshots__/HomeDialog.test.js.snap
  services-js/311/components/request/request/__snapshots__/RequestDialog.test.js.snap
  services-js/311/package.json
  services-js/311/storybook/.babelrc
  yarn.lock
Labels: 311

#156 Distinguishes commits by environment and variant
  services-js/internal-slack-bot/src/server/services/interactions/DeploymentInteraction.ts
Labels: internal-slack-bot

#155 Updates Dockerfile for Monorepo deploy
  services-js/311/.eslintrc.js
  services-js/311/Dockerfile
  services-js/311/deploy/Dockerfile
  services-js/311/deploy/deploy.sh
  services-js/311/deploy/setup.yml
  services-js/311/entrypoint.sh
  services-js/311/package.json
  services-js/311/pages/_document.js
Labels: 311

#157 Adds tolerance for no services changing
  modules-js/deploy-tools/src/report-updated-services.ts
  services-js/internal-slack-bot/src/server/server.ts
  services-js/internal-slack-bot/src/server/services/interactions/DeploymentInteraction.ts
Labels: internal-slack-bot

#159 Upgrades @types/react to the latest
  modules-js/react-fleet/package.json
  services-js/access-boston/package.json
  services-js/commissions-app/package.json
  services-js/registry-certs/package.json
  yarn.lock
Labels: tech debt

#160 Converts components/common to TypeScript
  services-js/311/components/common/DescriptionBox.stories.tsx
  services-js/311/components/common/DescriptionBox.tsx
  services-js/311/components/common/FeedbackBanner.stories.tsx
  services-js/311/components/common/FeedbackBanner.tsx
  services-js/311/components/common/Footer.js
  services-js/311/components/common/Footer.tsx
  services-js/311/components/common/FormDialog.stories.tsx
  services-js/311/components/common/FormDialog.tsx
  services-js/311/components/common/LoadingBuildings.stories.tsx
  services-js/311/components/common/LoadingBuildings.tsx
  services-js/311/components/common/LoadingIcons.stories.tsx
  services-js/311/components/common/LoadingIcons.tsx
  services-js/311/components/common/Nav.stories.tsx
  services-js/311/components/common/Nav.tsx
  services-js/311/components/common/SectionHeader.js
  services-js/311/components/common/SectionHeader.tsx
  services-js/311/components/request/home/__snapshots__/HomeDialog.test.js.snap
  services-js/311/components/style-constants.ts
  services-js/311/next.config.js
  services-js/311/package.json
  services-js/registry-certs/package.json
  yarn.lock
Labels: 311

#162 Ping templates for Access Boston
  services-js/access-boston/package.json
  services-js/access-boston/src/server/access-boston.ts
  services-js/access-boston/src/server/ping-templates/README.md
  services-js/access-boston/src/server/ping-templates/general.error.page.template.html
  services-js/access-boston/src/server/ping-templates/html.form.change.password.template.html
  services-js/access-boston/src/server/ping-templates/html.form.login.template.html
  services-js/access-boston/src/server/ping-templates/idp.logout.success.page.template.html
  services-js/access-boston/src/server/ping-templates/mockData.ts
  services-js/access-boston/static/assets/ping/assets/css/main.css
  services-js/access-boston/static/assets/ping/assets/images/city-hall.svg
  yarn.lock
Labels: access-boston

#163 Moves components from simpler pages to TypeScript
  .gitignore
  modules-js/percy-common/src/percy-common.ts
  services-js/311/.storybook/Storyshots.test.disabled.js
  services-js/311/.storybook/centered.js
  services-js/311/.storybook/config.js
  services-js/311/.storybook/dot-env-file.js
  services-js/311/.storybook/page.js
  services-js/311/.storybook/preview-head.html
  services-js/311/.storybook/webpack.config.js
  services-js/311/components/case/CaseLayout.stories.tsx
  services-js/311/components/case/CaseLayout.test.ts
  services-js/311/components/case/CaseLayout.tsx
  services-js/311/components/case/CaseView.stories.tsx
  services-js/311/components/case/CaseView.tsx
  services-js/311/components/error/ErrorLayout.stories.js
  services-js/311/components/error/ErrorLayout.stories.tsx
  services-js/311/components/error/ErrorLayout.tsx
  services-js/311/components/faq/FaqLayout.stories.tsx
  services-js/311/components/faq/FaqLayout.tsx
  services-js/311/components/request/RequestLayout.stories.js
  services-js/311/components/request/home/ChooseServicePane.stories.js
  services-js/311/components/request/request/LocationPopUp.js
  services-js/311/components/search/SearchLayout.stories.js
  services-js/311/components/services/ServicesLayout.stories.tsx
  services-js/311/components/services/ServicesLayout.tsx
  services-js/311/gulpfile.js
  services-js/311/lib/make-css.tsx
  services-js/311/package.json
  services-js/311/scripts/make-storybook-head.ts
  services-js/311/scripts/test.js
  services-js/311/storybook/.babelrc
  services-js/311/tsconfig.json
Labels: 311

#165 Reorders components in Storybook, and adds common component
  services-js/registry-certs/.storybook/addons.js
  services-js/registry-certs/.storybook/config.js
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/common/CostSummary.stories.tsx
  services-js/registry-certs/client/common/Nav.stories.tsx
  services-js/registry-certs/client/common/Pagination.stories.tsx
  services-js/registry-certs/client/common/ServiceFeeDisclosure.stories.tsx
  services-js/registry-certs/client/common/ServiceFeeDisclosure.tsx
  services-js/registry-certs/client/death/cart/CartItem.stories.tsx
  services-js/registry-certs/client/death/cart/CartPage.stories.tsx
  services-js/registry-certs/client/death/cart/CartPage.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.stories.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.tsx
  services-js/registry-certs/client/death/checkout/ConfirmationContent.stories.tsx
  services-js/registry-certs/client/death/checkout/OrderDetails.stories.tsx
  services-js/registry-certs/client/death/checkout/OrderDetails.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.stories.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.stories.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.stories.tsx
  services-js/registry-certs/client/death/receipt/ReceiptPage.stories.tsx
  services-js/registry-certs/client/death/search/SearchPage.stories.tsx
  services-js/registry-certs/client/death/search/SearchResult.stories.tsx
  services-js/registry-certs/package.json
  services-js/registry-certs/server/email/ReceiptEmail.stories.tsx
  yarn.lock
Labels: registry-certs

#167 Makes the header selectors tolerant of no CSS
  services-js/access-boston/src/integration/forgot-password.testcafe.ts
  services-js/access-boston/src/integration/registration-flow.testcafe.ts
Labels: access-boston, tech debt

#169 Changes 311 to build with tsc
  services-js/311/gulpfile.js
  services-js/311/package.json
Labels: 311

#168 Updates open spaces layer ID
  services-js/311/server/services/ArcGIS.ts
Labels: 311

#170 Changes staging deploys to update task definitions
  modules-js/deploy-tools/package.json
  modules-js/deploy-tools/src/codebuild-service-deploy.ts
  modules-js/deploy-tools/src/helpers.ts
  modules-js/deploy-tools/src/travis-service-deploy.ts
Labels: tech debt

#171 Browser compatibility fixes
  modules-js/form-common/src/form-common.ts
  services-js/commissions-app/src/lib/validationSchema.ts
Labels: commissions-app

#174 Make indexer sensitive to meta failures
  services-js/311-indexer/README.md
  services-js/311-indexer/package.json
  services-js/311-indexer/server/index.ts
  services-js/311-indexer/server/server.ts
  services-js/311-indexer/server/services/Elasticsearch.ts
  services-js/311-indexer/server/services/Open311.ts
  services-js/311-indexer/server/services/Salesforce.ts
  services-js/311-indexer/server/vendor/cometd-nodejs-client.js
  yarn.lock
Labels: 311

#178 Keeps indexer from skipping same-minute cases
  services-js/311-indexer/server/scripts/import-cases.ts
Labels: 311

#173 initial commit
  .nvmrc
  modules-js/react-fleet/src/form-elements/inputs/TextInput.tsx
  services-js/registry-certs/client/PageLayout.tsx
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/QuestionsFlow.stories.tsx
  services-js/registry-certs/client/birth/QuestionsFlow.tsx
  services-js/registry-certs/client/birth/questions/BornInBoston.tsx
  services-js/registry-certs/client/birth/questions/DateOfBirth.tsx
  services-js/registry-certs/client/birth/questions/EndFlow.tsx
  services-js/registry-certs/client/birth/questions/FieldsetComponent.tsx
  services-js/registry-certs/client/birth/questions/ForSelf.tsx
  services-js/registry-certs/client/birth/questions/HowRelated.tsx
  services-js/registry-certs/client/birth/questions/NameOnRecord.tsx
  services-js/registry-certs/client/birth/questions/ParentsLivedInBoston.tsx
  services-js/registry-certs/client/birth/questions/ParentsMarried.tsx
  services-js/registry-certs/client/birth/questions/ParentsNames.tsx
  services-js/registry-certs/client/birth/questions/YesNoUnsureComponent.tsx
  services-js/registry-certs/client/birth/questions/styling.tsx
  services-js/registry-certs/client/death/breadcrumbs.tsx
  services-js/registry-certs/client/death/cart/CartPage.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.tsx
  services-js/registry-certs/client/death/checkout/ConfirmationContent.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.tsx
  services-js/registry-certs/client/death/search/SearchPage.tsx
  services-js/registry-certs/pages/birth/index.ts
Labels: registry-certs

#179 Mechanical transform from RxJS 5 to 6
  services-js/311-indexer/package.json
  services-js/311-indexer/server/scripts/import-cases.ts
  services-js/311-indexer/server/server.ts
  services-js/311-indexer/server/stages/convert-salesforce-events.ts
  services-js/311-indexer/server/stages/index-cases.ts
  services-js/311-indexer/server/stages/load-cases.ts
  services-js/311-indexer/server/stages/stage-helpers.test.ts
  services-js/311-indexer/server/stages/stage-helpers.ts
  services-js/311-indexer/server/stages/update-classifier.ts
  yarn.lock
Labels: 311, tech debt

#180 Lowers 311 indexer loading date range
  services-js/311-indexer/server/scripts/import-cases.ts
  services-js/311-indexer/server/services/Open311.ts
  services-js/311-indexer/server/stages/update-classifier.ts
Labels: 311

#182 Changes 311-indexer from Opbeat to Rollbar
  services-js/311-indexer/package.json
  services-js/311-indexer/server/index.ts
  services-js/311-indexer/server/scripts/elasticsearch-init.ts
  services-js/311-indexer/server/scripts/import-cases.ts
  services-js/311-indexer/server/server.ts
  services-js/311-indexer/server/services/Elasticsearch.ts
  services-js/311-indexer/server/services/Open311.ts
  services-js/311-indexer/server/services/Prediction.ts
  services-js/311-indexer/server/stages/index-cases.ts
  services-js/311-indexer/server/stages/load-cases.ts
  services-js/311-indexer/server/stages/update-classifier.ts
  yarn.lock
Labels: 311

#183 Makes 311-indexer tolerant of replayID error
  services-js/311-indexer/server/services/Salesforce.ts
Labels: 311
