Repository CityOfBoston/digital, pull requests merged in 2019-02, with the labels that each got.

#285 Access Boston apps updates
  modules-js/config-jest-babel/jest-preset.json
  modules-js/config-jest-typescript/jest-preset.json
  services-js/access-boston/.storybook/webpack.config.js
  services-js/access-boston/fixtures/apps.yaml
  services-js/access-boston/package.json
  services-js/access-boston/src/lib/AppsRegistry.test.ts
  services-js/access-boston/src/lib/AppsRegistry.ts
  services-js/access-boston/src/lib/__snapshots__/AppsRegistry.test.ts.snap
  services-js/access-boston/src/pages/index.tsx
  services-js/access-boston/src/server/access-boston.ts
  services-js/access-boston/src/server/graphql/schema.ts
  services-js/access-boston/src/stories/IndexPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/access-boston/static/assets/apps/boston-maps.png
  services-js/access-boston/static/assets/apps/hyperion.png
  services-js/access-boston/static/assets/apps/identityiq.jpg
  services-js/access-boston/static/assets/apps/talented.png
Labels: access-boston

#286 Adds static dir when building Storybook for Percy
  services-js/access-boston/scripts/test.js
Labels: access-boston

#287 Adds "email the registry" footer to birth certs
  modules-js/react-fleet/src/components/ContactForm.tsx
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/QuestionsPage.tsx
  services-js/registry-certs/pages/_document.tsx
Labels: registry-certs

#292 Stubs out the "request documentation" API
  services-js/registry-certs/server/graphql/__snapshots__/index.test.js.snap
  services-js/registry-certs/server/graphql/mutation.ts
  services-js/registry-certs/server/queries/fulfillment/request-bc-documentation-v1.graphql
  services-js/registry-certs/server/stripe-events.ts
Labels: registry-certs

#293 Adds captured charge support to payment-webhooks
  services-js/payment-webhooks/server/stripe-events.ts
Labels: registry-certs

#291 Changes “back” button appearance; adjusts spacing and layout
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/BirthConfirmationContent.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
  services-js/registry-certs/client/birth/VerifyIdentificationPage.tsx
  services-js/registry-certs/client/birth/components/BackButton.tsx
  services-js/registry-certs/client/birth/components/FieldsetComponent.tsx
  services-js/registry-certs/client/birth/components/QuestionComponent.tsx
  services-js/registry-certs/client/birth/components/RadioItemComponent.stories.tsx
  services-js/registry-certs/client/birth/components/RadioItemComponent.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.stories.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.tsx
  services-js/registry-certs/client/birth/components/YesNoUnsureComponent.tsx
  services-js/registry-certs/client/birth/icons/RelatedIcon.tsx
  services-js/registry-certs/client/birth/questions/BornInBoston.tsx
  services-js/registry-certs/client/birth/questions/ClientInstructions.tsx
  services-js/registry-certs/client/birth/questions/ForWhom.tsx
  services-js/registry-certs/client/birth/questions/ParentalInformation.tsx
  services-js/registry-certs/client/birth/questions/PersonalInformation.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.tsx
  services-js/registry-certs/client/birth/styling.tsx
  services-js/registry-certs/client/common/checkout/PaymentContent.tsx
  services-js/registry-certs/client/common/checkout/ReviewContent.tsx
  services-js/registry-certs/client/common/checkout/ShippingContent.tsx
  services-js/registry-certs/client/death/cart/CartPage.tsx
  services-js/registry-certs/client/death/certificate/CertificatePage.tsx
  services-js/registry-certs/client/death/checkout/ConfirmationContent.tsx
Labels: registry-certs

#294 Puts first / last name in header
  services-js/access-boston/fixtures/apps.yaml
  services-js/access-boston/src/client/AccessBostonHeader.stories.tsx
  services-js/access-boston/src/client/AccessBostonHeader.tsx
  services-js/access-boston/src/client/graphql/fetch-account-and-apps.ts
  services-js/access-boston/src/client/graphql/fetch-account.ts
  services-js/access-boston/src/client/graphql/queries.ts
  services-js/access-boston/src/lib/__snapshots__/AppsRegistry.test.ts.snap
  services-js/access-boston/src/server/graphql/schema.ts
  services-js/access-boston/src/stories/ChangePasswordPage.stories.tsx
  services-js/access-boston/src/stories/ForgotPasswordPage.stories.tsx
  services-js/access-boston/src/stories/IndexPage.stories.tsx
  services-js/access-boston/src/stories/RegisterMfaPage.stories.tsx
  services-js/access-boston/src/stories/RegisterPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#296 Upload file / delete file APIs for birth certs
  modules-js/deploy-tools/package.json
  services-js/registry-certs/client/queries/graphql-types.ts
  services-js/registry-certs/client/queries/submit-birth-certificate-order.ts
  services-js/registry-certs/package.json
  services-js/registry-certs/server/graphql/__snapshots__/index.test.js.snap
  services-js/registry-certs/server/graphql/mutation.test.ts
  services-js/registry-certs/server/graphql/mutation.ts
  services-js/registry-certs/server/server.ts
  services-js/registry-certs/server/services/RegistryDb.ts
  services-js/registry-certs/server/services/RegistryDbFake.ts
  services-js/registry-certs/server/util.ts
  yarn.lock
Labels: registry-certs

#298 Babel compilation / polyfill overhaul
  modules-js/config-babel/browser.js
  modules-js/config-babel/package.json
  modules-js/form-common/package.json
  modules-js/next-client-common/babel.js
  modules-js/next-client-common/package.json
  modules-js/next-client-common/polyfills.js
  modules-js/next-client-common/with-polyfill.js
  modules-js/react-fleet/package.json
  services-js/311/.babelrc
  services-js/311/.storybook/.babelrc
  services-js/311/next.config.js
  services-js/311/package.json
  services-js/311/pages/_app.tsx
  services-js/access-boston/.babelrc
  services-js/access-boston/.storybook/.babelrc
  services-js/access-boston/next.config.js
  services-js/access-boston/package.json
  services-js/access-boston/src/client/TextInput.tsx
  services-js/access-boston/src/lib/validation.ts
  services-js/commissions-app/.babelrc
  services-js/commissions-app/.storybook/.babelrc
  services-js/commissions-app/next.config.js
  services-js/commissions-app/package.json
  services-js/commissions-app/src/client/CommissionsListSection.tsx
  services-js/commissions-app/src/lib/validationSchema.ts
  services-js/public-notices/.babelrc
  services-js/public-notices/.storybook/.babelrc
  services-js/public-notices/next.config.js
  services-js/public-notices/src/pages/_document.tsx
  services-js/registry-certs/.babelrc
  services-js/registry-certs/.storybook/.babelrc
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
  services-js/registry-certs/next.config.js
  services-js/registry-certs/package.json
  yarn.lock
Labels: registry-certs

#295 Makes requested changes and closes #268
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/inputs/MemorableDateInput.tsx
  modules-js/react-fleet/src/react-fleet.ts
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/CheckoutPage.stories.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.stories.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
  services-js/registry-certs/client/birth/components/BackButton.tsx
  services-js/registry-certs/client/birth/components/QuantityDropdown.tsx
  services-js/registry-certs/client/birth/components/QuestionComponent.tsx
  services-js/registry-certs/client/birth/components/RadioItemComponent.tsx
  services-js/registry-certs/client/birth/questions/PersonalInformation.tsx
  services-js/registry-certs/client/birth/styling.tsx
  services-js/registry-certs/client/common/CertificateRow.tsx
  services-js/registry-certs/client/common/checkout/OrderDetails.stories.tsx
  services-js/registry-certs/client/common/checkout/OrderDetails.tsx
  services-js/registry-certs/client/common/checkout/ReviewContent.stories.tsx
  services-js/registry-certs/client/common/checkout/ShippingContent.stories.tsx
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
  services-js/registry-certs/client/types.ts
Labels: registry-certs

#302 Fixes forgot password account undefineds
  services-js/access-boston/src/server/graphql/schema.ts
Labels: access-boston

#303 Stubs out the "cancel order" API for fulfillment
  services-js/registry-certs/server/graphql/__snapshots__/index.test.js.snap
  services-js/registry-certs/server/graphql/mutation.ts
  services-js/registry-certs/server/queries/fulfillment/cancel-bc-order-v1.graphql
Labels: registry-certs

#304 Email updates to prep for more emails
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/server/email/EmailTemplates.stories.tsx
  services-js/registry-certs/server/email/EmailTemplates.test.ts
  services-js/registry-certs/server/email/EmailTemplates.ts
  services-js/registry-certs/server/email/ReceiptEmail.ts
  services-js/registry-certs/server/email/__snapshots__/EmailTemplates.test.ts.snap
  services-js/registry-certs/server/email/death-receipt.mjml.hbs
  services-js/registry-certs/server/email/death-receipt.subject.hbs
  services-js/registry-certs/server/email/death-receipt.txt.hbs
  services-js/registry-certs/server/server.ts
  services-js/registry-certs/server/services/Emails.test.ts
  services-js/registry-certs/server/services/Emails.ts
  services-js/registry-certs/server/stripe-events.test.ts
  services-js/registry-certs/server/stripe-events.ts
Labels: registry-certs

#305 Updates password / device flags in registration
  services-js/access-boston/src/server/graphql/mfa.ts
  services-js/access-boston/src/server/graphql/workflows.ts
Labels: access-boston

#306 First pass at an Access Boston footer
  services-js/access-boston/src/client/AccessBostonFooter.stories.tsx
  services-js/access-boston/src/client/AccessBostonFooter.tsx
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/done.tsx
  services-js/access-boston/src/pages/forgot.tsx
  services-js/access-boston/src/pages/index.tsx
  services-js/access-boston/src/pages/mfa.tsx
  services-js/access-boston/src/pages/register.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#307 Adds UploadPhoto component, etc. - resolves #264
  modules-js/react-fleet/package.json
  modules-js/react-fleet/rollup.config.js
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/UploadPhoto.stories.tsx
  modules-js/react-fleet/src/form-elements/UploadPhoto.tsx
  modules-js/react-fleet/src/react-fleet.ts
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/QuestionsPage.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
  services-js/registry-certs/client/birth/VerifyIdentificationPage.tsx
  services-js/registry-certs/client/birth/components/SupportingDocumentsInput.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.stories.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.tsx
  services-js/registry-certs/client/birth/icons/IdIcon.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.tsx
  services-js/registry-certs/client/birth/styling.tsx
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
  services-js/registry-certs/client/types.ts
  yarn.lock
Labels: registry-certs

#310 Text corrections; fixes #309
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/BirthConfirmationContent.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.tsx
  services-js/registry-certs/client/birth/questions/ClientInstructions.tsx
  services-js/registry-certs/client/birth/questions/ParentalInformation.tsx
Labels: registry-certs

#312 Adds birth certificate email
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/fixtures/registry-orders/birth-certificate-request-details.json
  services-js/registry-certs/fixtures/stripe/charge-succeeded.json
  services-js/registry-certs/server/__snapshots__/stripe-events.test.ts.snap
  services-js/registry-certs/server/email/EmailTemplates.stories.tsx
  services-js/registry-certs/server/email/EmailTemplates.test.ts
  services-js/registry-certs/server/email/EmailTemplates.ts
  services-js/registry-certs/server/email/__snapshots__/EmailTemplates.test.ts.snap
  services-js/registry-certs/server/email/death-receipt.subject.hbs
  services-js/registry-certs/server/email/handlebars-helpers.ts
  services-js/registry-certs/server/email/receipt.mjml.hbs
  services-js/registry-certs/server/email/receipt.subject.hbs
  services-js/registry-certs/server/email/receipt.txt.hbs
  services-js/registry-certs/server/graphql/death-certificates.ts
  services-js/registry-certs/server/graphql/mutation.ts
  services-js/registry-certs/server/services/Emails.ts
  services-js/registry-certs/server/services/RegistryDb.ts
  services-js/registry-certs/server/services/RegistryDbFake.ts
  services-js/registry-certs/server/stripe-events.test.ts
  services-js/registry-certs/server/stripe-events.ts
Labels: registry-certs

#313 Adds addt’l display mode for shared component
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/VerifyIdentificationPage.stories.tsx
  services-js/registry-certs/client/birth/VerifyIdentificationPage.tsx
  services-js/registry-certs/client/birth/components/SupportingDocumentsInput.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.stories.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.tsx
Labels: registry-certs

#316 Updates the Access Boston footer
  services-js/access-boston/src/client/AccessBostonFooter.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#317 Adds handling for charge capturing to update db
  services-js/registry-certs/fixtures/stripe/charge-captured.json
  services-js/registry-certs/server/__snapshots__/stripe-events.test.ts.snap
  services-js/registry-certs/server/graphql/death-certificates.ts
  services-js/registry-certs/server/stripe-events.test.ts
  services-js/registry-certs/server/stripe-events.ts
Labels: registry-certs

#318 Adds an "order shipped" email for birth certs
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/server/__snapshots__/stripe-events.test.ts.snap
  services-js/registry-certs/server/email/EmailTemplates.stories.tsx
  services-js/registry-certs/server/email/EmailTemplates.test.ts
  services-js/registry-certs/server/email/EmailTemplates.ts
  services-js/registry-certs/server/email/__snapshots__/EmailTemplates.test.ts.snap
  services-js/registry-certs/server/email/receipt.mjml.hbs
  services-js/registry-certs/server/email/receipt.subject.hbs
  services-js/registry-certs/server/email/receipt.txt.hbs
  services-js/registry-certs/server/graphql/death-certificates.ts
  services-js/registry-certs/server/server.ts
  services-js/registry-certs/server/services/Emails.ts
  services-js/registry-certs/server/services/RegistryDb.ts
  services-js/registry-certs/server/stripe-events.test.ts
  services-js/registry-certs/server/stripe-events.ts
Labels: registry-certs

#319 Upgrades caniuse-db and caniuse-lite
  yarn.lock
Labels: tech debt

#322 Adds "order expired" email for birth certs
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/server/__snapshots__/stripe-events.test.ts.snap
  services-js/registry-certs/server/email/EmailTemplates.stories.tsx
  services-js/registry-certs/server/email/EmailTemplates.test.ts
  services-js/registry-certs/server/email/EmailTemplates.ts
  services-js/registry-certs/server/email/__snapshots__/EmailTemplates.test.ts.snap
  services-js/registry-certs/server/email/expired.mjml.hbs
  services-js/registry-certs/server/email/expired.txt.hbs
  services-js/registry-certs/server/email/handlebars-helpers.ts
  services-js/registry-certs/server/email/layout.mjml.hbs
  services-js/registry-certs/server/email/receipt.mjml.hbs
  services-js/registry-certs/server/email/receipt.txt.hbs
  services-js/registry-certs/server/services/Emails.ts
  services-js/registry-certs/server/stripe-events.test.ts
  services-js/registry-certs/server/stripe-events.ts
Labels: registry-certs

#327 Fixes Registry "from" addresses to have a name
  services-js/registry-certs/server/services/Emails.ts
Labels: registry-certs

#328 Resets birth cert quantity to 1, not 0
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
Labels: registry-certs

#329 Removes phone number from registry emails
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/server/email/__snapshots__/EmailTemplates.test.ts.snap
  services-js/registry-certs/server/email/expired.txt.hbs
  services-js/registry-certs/server/email/layout.mjml.hbs
  services-js/registry-certs/server/email/receipt.txt.hbs
Labels: registry-certs

#332 Changes header not to use pilot.boston.gov
  services-ruby/official-header/src/header.html
Labels: official-header

#331 Email wording fixes per Registry’s request
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/BirthConfirmationContent.tsx
  services-js/registry-certs/server/email/EmailTemplates.ts
  services-js/registry-certs/server/email/__snapshots__/EmailTemplates.test.ts.snap
  services-js/registry-certs/server/email/expired.mjml.hbs
  services-js/registry-certs/server/email/expired.txt.hbs
Labels: registry-certs

#330 "Start over" fixes for birth certs
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
Labels: registry-certs

#333 Adds file upload, delete functionality; resolves #265
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/UploadPhoto.stories.tsx
  modules-js/react-fleet/src/form-elements/UploadPhoto.tsx
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/VerifyIdentificationPage.stories.tsx
  services-js/registry-certs/client/birth/VerifyIdentificationPage.tsx
  services-js/registry-certs/client/birth/components/SupportingDocumentsInput.stories.tsx
  services-js/registry-certs/client/birth/components/SupportingDocumentsInput.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.stories.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.tsx
  services-js/registry-certs/client/birth/icons/AnswerIcon.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.tsx
  services-js/registry-certs/client/models/UploadableFile.test.ts
  services-js/registry-certs/client/models/UploadableFile.ts
  services-js/registry-certs/client/queries/delete-birth-certificate-uploaded-file.ts
  services-js/registry-certs/client/queries/graphql-types.ts
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
  services-js/registry-certs/client/types.ts
  services-js/registry-certs/lib/upload-types.ts
  services-js/registry-certs/package.json
  services-js/registry-certs/pages/birth/verify.ts
  services-js/registry-certs/server/server.ts
  services-js/registry-certs/server/services/RegistryDb.ts
  services-js/registry-certs/server/services/RegistryDbFake.ts
  yarn.lock
Labels: registry-certs

#335 Imports node-fetch for Ping
  services-js/access-boston/src/server/services/PingId.ts
Labels: access-boston

#337 Fixes Access Boston logout
  services-js/access-boston/src/server/login-auth.ts
Labels: access-boston

#336 Birth certs pre-launch mega change
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/UploadPhoto.stories.tsx
  modules-js/react-fleet/src/form-elements/UploadPhoto.tsx
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/BirthConfirmationContent.tsx
  services-js/registry-certs/client/birth/QuestionsPage.stories.tsx
  services-js/registry-certs/client/birth/QuestionsPage.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.stories.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
  services-js/registry-certs/client/birth/components/SupportingDocumentsInput.stories.tsx
  services-js/registry-certs/client/birth/components/SupportingDocumentsInput.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.tsx
  services-js/registry-certs/client/birth/questions/ClientInstructions.tsx
  services-js/registry-certs/client/birth/questions/PersonalInformation.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.tsx
  services-js/registry-certs/client/birth/styling.tsx
  services-js/registry-certs/client/models/UploadableFile.test.ts
  services-js/registry-certs/client/models/UploadableFile.ts
  services-js/registry-certs/client/queries/graphql-types.ts
  services-js/registry-certs/client/queries/submit-birth-certificate-order.ts
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
  services-js/registry-certs/client/types.ts
  services-js/registry-certs/package.json
  services-js/registry-certs/pages/_document.tsx
  services-js/registry-certs/server/graphql/__snapshots__/index.test.js.snap
  services-js/registry-certs/server/graphql/mutation.test.ts
  services-js/registry-certs/server/graphql/mutation.ts
  services-js/registry-certs/server/services/RegistryDb.ts
  services-js/registry-certs/server/services/RegistryDbFake.ts
Labels: registry-certs

#338 Fixes answers not getting saved
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/QuestionsPage.tsx
  services-js/registry-certs/client/birth/components/BackButton.tsx
  services-js/registry-certs/client/birth/components/QuestionComponent.tsx
  services-js/registry-certs/client/birth/components/SupportingDocumentsInput.tsx
  services-js/registry-certs/client/birth/questions/BornInBoston.tsx
  services-js/registry-certs/client/birth/questions/ClientInstructions.tsx
  services-js/registry-certs/client/birth/questions/ForWhom.tsx
  services-js/registry-certs/client/birth/questions/ParentalInformation.tsx
  services-js/registry-certs/client/birth/questions/PersonalInformation.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.tsx
  services-js/registry-certs/client/models/UploadableFile.ts
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
Labels: registry-certs

#340 Fixes for preview image when removing
  modules-js/react-fleet/src/form-elements/UploadPhoto.tsx
Labels: registry-certs

#341 MemorableDateInput fixes and earilest birth date
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/inputs/MemorableDateInput.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/MemorableDateInput.test.ts
  modules-js/react-fleet/src/form-elements/inputs/MemorableDateInput.tsx
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/questions/PersonalInformation.tsx
Labels: registry-certs

#343 Birth certs polish items
  modules-js/react-fleet/src/form-elements/UploadPhoto.tsx
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/PageWrapper.tsx
  services-js/registry-certs/client/birth/components/SupportingDocumentsInput.stories.tsx
  services-js/registry-certs/client/birth/components/SupportingDocumentsInput.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.tsx
  services-js/registry-certs/client/birth/icons/RelatedIcon.tsx
  services-js/registry-certs/client/birth/questions/PersonalInformation.tsx
  services-js/registry-certs/client/birth/styling.tsx
Labels: registry-certs

#344 Sends AddPayment to DB for birth cert changes
  services-js/registry-certs/server/__snapshots__/stripe-events.test.ts.snap
  services-js/registry-certs/server/stripe-events.test.ts
  services-js/registry-certs/server/stripe-events.ts
Labels: registry-certs
