Repository CityOfBoston/digital, pull requests merged in 2019-01, with the labels that each got.

#229 Updates logout behavior
  services-js/access-boston/src/server/forgot-password-auth.ts
  services-js/access-boston/src/server/login-auth.ts
  services-js/access-boston/src/server/services/SamlAuth.ts
  services-js/access-boston/src/server/services/SamlAuthFake.ts
Labels: access-boston

#230 Removes the birth certificate search query
  services-js/registry-certs/server/graphql/__snapshots__/index.test.js.snap
  services-js/registry-certs/server/graphql/__snapshots__/mutation.test.ts.snap
  services-js/registry-certs/server/graphql/birth-certificates.ts
  services-js/registry-certs/server/graphql/index.ts
  services-js/registry-certs/server/graphql/mutation.test.ts
  services-js/registry-certs/server/graphql/mutation.ts
  services-js/registry-certs/server/graphql/query.ts
  services-js/registry-certs/server/services/RegistryDb.ts
  services-js/registry-certs/server/services/RegistryDbFake.ts
Labels: registry-certs

#231 Stores the current Order in session storage
  services-js/registry-certs/client/dao/CheckoutDao.test.ts
  services-js/registry-certs/client/dao/CheckoutDao.ts
  services-js/registry-certs/client/death/checkout/CheckoutPage.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.stories.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.stories.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.stories.tsx
  services-js/registry-certs/client/models/Order.ts
  services-js/registry-certs/client/queries/submit-death-certificate-order.test.ts
  services-js/registry-certs/client/queries/submit-death-certificate-order.ts
  services-js/registry-certs/client/store/OrderProvider.test.ts
  services-js/registry-certs/client/store/OrderProvider.ts
  services-js/registry-certs/pages/_app.tsx
Labels: registry-certs

#232 Makes birthDate text input controlled
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/questions/DateOfBirth.tsx
Labels: registry-certs

#235 Initial port of Public Notices
  modules-js/percy-common/src/percy-common.ts
  services-js/public-notices/.babelrc
  services-js/public-notices/.storybook/addons.js
  services-js/public-notices/.storybook/config.js
  services-js/public-notices/.storybook/preview-head.html
  services-js/public-notices/.storybook/webpack.config.js
  services-js/public-notices/fixtures/notices.json
  services-js/public-notices/next.config.js
  services-js/public-notices/package.json
  services-js/public-notices/scripts/test.js
  services-js/public-notices/src/Storyshots.test.ts
  services-js/public-notices/src/__snapshots__/Storyshots.test.ts.snap
  services-js/public-notices/src/components/Countdown.stories.tsx
  services-js/public-notices/src/components/Countdown.tsx
  services-js/public-notices/src/components/LastUpdated.stories.tsx
  services-js/public-notices/src/components/LastUpdated.tsx
  services-js/public-notices/src/components/NoticeDetail.stories.tsx
  services-js/public-notices/src/components/NoticeDetail.tsx
  services-js/public-notices/src/components/NoticeList.stories.tsx
  services-js/public-notices/src/components/NoticeList.tsx
  services-js/public-notices/src/components/PublicNoticesContent.stories.tsx
  services-js/public-notices/src/components/PublicNoticesContent.tsx
  services-js/public-notices/src/model/Notice.ts
  services-js/public-notices/src/model/NoticeColumn.ts
  services-js/public-notices/src/model/NoticeController.test.ts
  services-js/public-notices/src/model/NoticeController.ts
  services-js/public-notices/src/model/NoticeFetcher.ts
  services-js/public-notices/src/model/Timer.ts
  services-js/public-notices/src/pages/_app.tsx
  services-js/public-notices/src/pages/_document.tsx
  services-js/public-notices/src/pages/index.tsx
  services-js/public-notices/src/rollbar.d.ts
  services-js/public-notices/static/assets/favicon.ico
  services-js/public-notices/tsconfig.json
Labels: public-notices

#236 Makes public notices deployable to S3
  modules-js/deploy-tools/src/helpers.ts
  modules-js/deploy-tools/src/s3-apps-deploy.ts
  services-js/public-notices/.gitignore
  services-js/public-notices/next.config.js
  services-js/public-notices/package.json
  services-js/public-notices/src/pages/_document.tsx
Labels: public-notices

#237 Changes AccessBoston to use workflow error message
  services-js/access-boston/fixtures/identityiq/LaunchWorkflow-ChangePassword-failure.json
  services-js/access-boston/src/client/graphql/queries.ts
  services-js/access-boston/src/integration/change-password.testcafe.ts
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/forgot.tsx
  services-js/access-boston/src/server/graphql/workflows.ts
Labels: access-boston

#238 Public notices updates
  modules-js/deploy-tools/package.json
  modules-js/deploy-tools/src/helpers.ts
  services-js/public-notices/.nocache
  services-js/public-notices/fixtures/notices.json
  services-js/public-notices/next.config.js
  services-js/public-notices/package.json
  services-js/public-notices/scripts/test.js
  services-js/public-notices/src/__snapshots__/Storyshots.test.ts.snap
  services-js/public-notices/src/components/LastUpdated.tsx
  services-js/public-notices/src/components/NoticeDetail.stories.tsx
  services-js/public-notices/src/components/NoticeDetail.tsx
  services-js/public-notices/src/components/NoticeList.tsx
  services-js/public-notices/src/components/PublicNoticesContent.tsx
  services-js/public-notices/src/model/Notice.ts
  services-js/public-notices/src/model/NoticeController.ts
  services-js/public-notices/src/model/NoticeFetcher.ts
  services-js/public-notices/src/pages/_app.tsx
  services-js/public-notices/src/pages/_document.tsx
  services-js/public-notices/src/static/favicon.ico
  services-js/public-notices/tsconfig.json
  yarn.lock
Labels: public-notices

#239 Changes Public Notices to only show 12 on the side
  services-js/public-notices/src/__snapshots__/Storyshots.test.ts.snap
  services-js/public-notices/src/components/NoticeDetail.stories.tsx
  services-js/public-notices/src/components/NoticeList.stories.tsx
  services-js/public-notices/src/model/NoticeFetcher.ts
Labels: public-notices

#240 Updates hapi-next to abandon completed requests
  modules-js/hapi-next/src/hapi-next.ts
Labels: access-boston

#241 Adds polyfills to support Chrome 37
  services-js/public-notices/src/pages/_document.tsx
Labels: public-notices

#242 Adds Formik to checkout flow
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/death/checkout/CheckoutPage.test.tsx
  services-js/registry-certs/client/death/checkout/CheckoutPage.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.test.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.test.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.tsx
  services-js/registry-certs/client/models/Order.ts
  services-js/registry-certs/package.json
Labels: registry-certs

#243 README for public-notices
  services-js/public-notices/README.md
Labels: public-notices

#245 Registry certs/fix checkout
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/death/checkout/CheckoutPage.test.tsx
  services-js/registry-certs/client/death/checkout/CheckoutPage.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.stories.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.test.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.test.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.tsx
  services-js/registry-certs/client/models/Order.ts
  services-js/registry-certs/package.json
Labels: registry-certs

#246 Upgrades Formik to 1.4.2
  services-js/access-boston/package.json
  services-js/commissions-app/package.json
  services-js/registry-certs/package.json
  yarn.lock
Labels: tech debt

#247 Upgrades React to 16.7
  modules-js/form-common/package.json
  modules-js/hapi-next/package.json
  modules-js/react-fleet/package.json
  services-js/311/package.json
  services-js/access-boston/package.json
  services-js/commissions-app/package.json
  services-js/commissions-search/package.json
  services-js/public-notices/package.json
  services-js/registry-certs/package.json
  templates/js-browser-module/template/package.json
  yarn.lock
Labels: tech debt

#248 registry-certs checkout flow fixes
  services-js/registry-certs/client/Storyshots.test.ts
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/common/checkout/OrderDetails.tsx
  services-js/registry-certs/client/death/checkout/CheckoutPage.stories.tsx
  services-js/registry-certs/client/death/checkout/CheckoutPage.test.tsx
  services-js/registry-certs/client/death/checkout/CheckoutPage.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.stories.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.stories.tsx
  services-js/registry-certs/client/death/checkout/ShippingContent.tsx
  services-js/registry-certs/client/death/checkout/__snapshots__/CheckoutPage.test.tsx.snap
  services-js/registry-certs/client/death/checkout/formik-util.ts
  services-js/registry-certs/client/store/DeathCertificateCart.ts
  services-js/registry-certs/client/store/OrderProvider.test.ts
  services-js/registry-certs/client/store/OrderProvider.ts
  services-js/registry-certs/pages/_app.tsx
Labels: registry-certs

#249 Adds jest project support
  babel.config.js
  modules-js/react-fleet/src/Storyshots.test.ts
  package.json
  services-js/311/.storybook/Storyshots.test.ts
  services-js/access-boston/src/stories/Storyshots.test.ts
  services-js/commissions-app/src/server/email/EmailContent.ts
  services-js/commissions-app/src/stories/Storyshots.test.ts
  services-js/public-notices/src/Storyshots.test.ts
  services-js/registry-certs/client/Storyshots.test.ts
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/package.json
  services-js/registry-certs/server/email/ReceiptEmail.ts
  services-js/registry-certs/server/graphql/index.ts
  tsconfig.json
  yarn.lock
Labels: tech debt

#250 Checkout page errors and payment card update
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/death/checkout/CheckoutPage.test.tsx
  services-js/registry-certs/client/death/checkout/CheckoutPage.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.stories.tsx
  services-js/registry-certs/client/death/checkout/PaymentContent.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.stories.tsx
  services-js/registry-certs/client/death/checkout/ReviewContent.tsx
  services-js/registry-certs/client/models/Order.ts
Labels: registry-certs

#251 Move of checkout Content pages into common
  services-js/registry-certs/client/common/checkout/PaymentContent.stories.tsx
  services-js/registry-certs/client/common/checkout/PaymentContent.tsx
  services-js/registry-certs/client/common/checkout/ReviewContent.stories.tsx
  services-js/registry-certs/client/common/checkout/ReviewContent.test.tsx
  services-js/registry-certs/client/common/checkout/ReviewContent.tsx
  services-js/registry-certs/client/common/checkout/ShippingContent.stories.tsx
  services-js/registry-certs/client/common/checkout/ShippingContent.tsx
  services-js/registry-certs/client/common/checkout/formik-util.ts
  services-js/registry-certs/client/death/checkout/CheckoutPage.tsx
Labels: registry-certs

#254 Requires env var to show birth certs UI in prod
  services-js/registry-certs/server/server.ts
Labels: registry-certs

#255 Adds icons; combines questions as requested; moves progress bar from …
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/BirthCertificateRequestHeader.tsx
  services-js/registry-certs/client/birth/QuestionsFlow.stories.tsx
  services-js/registry-certs/client/birth/QuestionsFlow.tsx
  services-js/registry-certs/client/birth/ReviewRequest.tsx
  services-js/registry-certs/client/birth/constants.ts
  services-js/registry-certs/client/birth/questions/BornInBoston.tsx
  services-js/registry-certs/client/birth/questions/DateOfBirth.tsx
  services-js/registry-certs/client/birth/questions/FieldsetComponent.tsx
  services-js/registry-certs/client/birth/questions/ForWhom.tsx
  services-js/registry-certs/client/birth/questions/NameOnRecord.tsx
  services-js/registry-certs/client/birth/questions/ParentalInformation.tsx
  services-js/registry-certs/client/birth/questions/ParentsMarried.tsx
  services-js/registry-certs/client/birth/questions/ParentsNames.tsx
  services-js/registry-certs/client/birth/questions/PersonalInformation.tsx
  services-js/registry-certs/client/birth/questions/QuestionComponent.tsx
  services-js/registry-certs/client/birth/questions/RadioItemComponent.tsx
  services-js/registry-certs/client/birth/questions/RelatedIcon.tsx
  services-js/registry-certs/client/birth/questions/RelatedItemComponent.tsx
  services-js/registry-certs/client/birth/questions/YesNoUnsureComponent.tsx
  services-js/registry-certs/client/birth/questions/styling.tsx
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
  services-js/registry-certs/client/types.ts
Labels: registry-certs

#256 Adds a grace period for seeing a deployment
  modules-js/deploy-tools/src/helpers.ts
Labels: tech debt

#257 Two polyfills for IE11
  services-js/access-boston/src/client/TextInput.tsx
  services-js/access-boston/src/lib/validation.ts
Labels: access-boston

#258 Sends birth cert requests to the registry DB
  services-js/payment-webhooks/package.json
  services-js/payment-webhooks/server/server.ts
  services-js/payment-webhooks/server/stripe-events.ts
  services-js/registry-certs/package.json
  services-js/registry-certs/server/graphql/index.ts
  services-js/registry-certs/server/graphql/mutation.test.ts
  services-js/registry-certs/server/graphql/mutation.ts
  services-js/registry-certs/server/server.ts
  services-js/registry-certs/server/services/RegistryDb.ts
  services-js/registry-certs/server/services/RegistryDbFake.ts
  services-js/registry-certs/server/stripe-events.ts
  yarn.lock
Labels: registry-certs

#261 Makes Access Boston run without IP information
  services-js/access-boston/README.md
  services-js/access-boston/src/server/services/SamlAuth.ts
Labels: access-boston

#262 Prevents more City email domains from MFA signup
  services-js/access-boston/src/lib/validation.ts
Labels: access-boston

#263 Renames and reorganizes files; adds id verify step to question flow; …
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/BirthCertificateRequestHeader.tsx
  services-js/registry-certs/client/birth/PageWrapper.tsx
  services-js/registry-certs/client/birth/QuestionsFlow.tsx
  services-js/registry-certs/client/birth/QuestionsPage.stories.tsx
  services-js/registry-certs/client/birth/QuestionsPage.tsx
  services-js/registry-certs/client/birth/RadioItemComponent.stories.tsx
  services-js/registry-certs/client/birth/RadioItemComponent.tsx
  services-js/registry-certs/client/birth/ReviewRequest.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.stories.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
  services-js/registry-certs/client/birth/VerifyIdentificationComponent.stories.tsx
  services-js/registry-certs/client/birth/VerifyIdentificationComponent.tsx
  services-js/registry-certs/client/birth/VerifyIdentificationPage.stories.tsx
  services-js/registry-certs/client/birth/VerifyIdentificationPage.tsx
  services-js/registry-certs/client/birth/constants.ts
  services-js/registry-certs/client/birth/icons/AnswerIcon.tsx
  services-js/registry-certs/client/birth/icons/IdIcon.tsx
  services-js/registry-certs/client/birth/icons/RelatedIcon.tsx
  services-js/registry-certs/client/birth/questions/BornInBoston.tsx
  services-js/registry-certs/client/birth/questions/FieldsetComponent.tsx
  services-js/registry-certs/client/birth/questions/ForWhom.tsx
  services-js/registry-certs/client/birth/questions/ParentalInformation.tsx
  services-js/registry-certs/client/birth/questions/PersonalInformation.tsx
  services-js/registry-certs/client/birth/questions/QuestionComponent.tsx
  services-js/registry-certs/client/birth/questions/RelatedItemComponent.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.tsx
  services-js/registry-certs/client/birth/questions/YesNoUnsureComponent.tsx
  services-js/registry-certs/client/birth/styling.tsx
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
  services-js/registry-certs/client/types.ts
  services-js/registry-certs/pages/birth/index.ts
  services-js/registry-certs/pages/birth/review.ts
  services-js/registry-certs/pages/birth/verify.ts
Labels: registry-certs

#267 Extends icon component
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/icons/CertificateIcon.tsx
  services-js/registry-certs/client/birth/icons/IdIcon.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.tsx
Labels: registry-certs

#266 Changes MFA registration to promote phone #s more
  services-js/access-boston/README.md
  services-js/access-boston/src/client/device-verification/DeviceVerificationForm.stories.tsx
  services-js/access-boston/src/client/device-verification/DeviceVerificationForm.tsx
  services-js/access-boston/src/integration/models/DeviceRegistrationPageModel.ts
  services-js/access-boston/src/integration/register-device.testcafe.ts
  services-js/access-boston/src/pages/mfa.tsx
  services-js/access-boston/src/stories/RegisterMfaPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#275 Removes punctuation from phone numbers
  services-js/access-boston/src/lib/validation.ts
  services-js/access-boston/src/server/graphql/mfa.test.ts
  services-js/access-boston/src/server/graphql/mfa.ts
Labels: access-boston

#277 Updates birth certs checkout flow
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/CheckoutPage.stories.tsx
  services-js/registry-certs/client/birth/CheckoutPage.tsx
  services-js/registry-certs/client/birth/PageWrapper.tsx
  services-js/registry-certs/client/birth/QuestionsPage.stories.tsx
  services-js/registry-certs/client/common/CertificateRow.tsx
  services-js/registry-certs/client/common/checkout/CheckoutPageLayout.tsx
  services-js/registry-certs/client/common/checkout/OrderDetails.stories.tsx
  services-js/registry-certs/client/common/checkout/OrderDetails.tsx
  services-js/registry-certs/client/common/checkout/PaymentContent.stories.tsx
  services-js/registry-certs/client/common/checkout/PaymentContent.tsx
  services-js/registry-certs/client/common/checkout/ReviewContent.stories.tsx
  services-js/registry-certs/client/common/checkout/ReviewContent.tsx
  services-js/registry-certs/client/common/checkout/ShippingContent.stories.tsx
  services-js/registry-certs/client/common/checkout/ShippingContent.tsx
  services-js/registry-certs/client/death/cart/CartItem.tsx
  services-js/registry-certs/client/death/search/SearchResult.tsx
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
Labels: registry-certs

#278 Registry certs buttons updates
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
  services-js/registry-certs/client/birth/questions/QuestionComponent.tsx
  services-js/registry-certs/client/common/checkout/PaymentContent.tsx
  services-js/registry-certs/client/common/checkout/ShippingContent.tsx
  services-js/registry-certs/client/death/cart/CartPage.tsx
Labels: registry-certs

#279 Fix registry-certs webhook for birth certs
  services-js/registry-certs/fixtures/stripe/charge-uncaptured.json
  services-js/registry-certs/server/stripe-events.test.ts
  services-js/registry-certs/server/stripe-events.ts
Labels: registry-certs

#280 Adds landing page after birth cert order
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/BirthConfirmationContent.tsx
  services-js/registry-certs/client/birth/CheckoutPage.stories.tsx
  services-js/registry-certs/client/birth/CheckoutPage.tsx
Labels: registry-certs

#281 Makes back / forward work in questions flow
  services-js/registry-certs/client/birth/PageWrapper.tsx
  services-js/registry-certs/client/birth/QuestionsPage.stories.tsx
  services-js/registry-certs/client/birth/QuestionsPage.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
  services-js/registry-certs/client/birth/questions/ParentalInformation.tsx
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
Labels: registry-certs

#282 Updates to device registration flow
  services-js/access-boston/src/client/device-verification/DeviceVerificationModal.tsx
  services-js/access-boston/src/client/graphql/queries.ts
  services-js/access-boston/src/pages/mfa.tsx
  services-js/access-boston/src/server/graphql/mfa.ts
  services-js/access-boston/src/server/services/PingId.ts
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#283 Access Boston review punchlist
  services-js/access-boston/fixtures/apps.yaml
  services-js/access-boston/src/client/graphql/fetch-account-and-apps.ts
  services-js/access-boston/src/client/graphql/queries.ts
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/index.tsx
  services-js/access-boston/src/pages/mfa.tsx
  services-js/access-boston/src/server/graphql/schema.ts
  services-js/access-boston/src/server/services/AppsRegistry.ts
  services-js/access-boston/src/server/services/SamlAuth.test.ts
  services-js/access-boston/src/server/services/SamlAuth.ts
  services-js/access-boston/src/server/services/__snapshots__/AppsRegistry.test.ts.snap
  services-js/access-boston/src/stories/IndexPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#284 Reworking of state in questions flow
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/QuestionsPage.stories.tsx
  services-js/registry-certs/client/birth/QuestionsPage.tsx
  services-js/registry-certs/client/birth/questions/BornInBoston.tsx
  services-js/registry-certs/client/birth/questions/ClientInstructions.tsx
  services-js/registry-certs/client/birth/questions/ForWhom.tsx
  services-js/registry-certs/client/birth/questions/ParentalInformation.tsx
  services-js/registry-certs/client/birth/questions/PersonalInformation.tsx
  services-js/registry-certs/client/birth/questions/QuestionComponent.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.tsx
  services-js/registry-certs/client/birth/styling.tsx
  services-js/registry-certs/client/store/BirthCertificateRequest.test.ts
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
  services-js/registry-certs/client/types.ts
Labels: registry-certs
