Repository CityOfBoston/digital, pull requests merged in 2019-04, with the labels that each got.

#409 Adds logging about whether sessions exist
  services-js/access-boston/src/server/graphql/mfa.ts
Labels: access-boston

#410 Removes the crumb protection from /logout
  services-js/access-boston/src/server/login-auth.ts
Labels: access-boston

#412 Debug logging around missing sessions
  services-js/access-boston/src/pages/_app.tsx
  services-js/access-boston/src/server/Session.ts
  services-js/access-boston/src/server/access-boston.ts
  services-js/access-boston/src/server/graphql/mfa.ts
  services-js/access-boston/src/server/graphql/schema.ts
Labels: access-boston

#414 Ignores malformed cookies
  services-js/access-boston/src/server/access-boston.ts
Labels: access-boston

#415 Warning message for recent birthdates
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/QuestionsPage.stories.tsx
  services-js/registry-certs/client/birth/questions/PersonalInformation.tsx
Labels: registry-certs

#417 Adds test prop; reorganizes Storybook stories for Birth
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/QuestionsPage.stories.tsx
  services-js/registry-certs/client/birth/components/RadioItemComponent.stories.tsx
  services-js/registry-certs/client/birth/components/SupportingDocumentsInput.stories.tsx
  services-js/registry-certs/client/birth/components/YesNoUnsureComponent.stories.tsx
  services-js/registry-certs/client/birth/questions/BornInBoston.stories.tsx
  services-js/registry-certs/client/birth/questions/ClientInstructions.stories.tsx
  services-js/registry-certs/client/birth/questions/ForWhom.stories.tsx
  services-js/registry-certs/client/birth/questions/ParentalInformation.stories.tsx
  services-js/registry-certs/client/birth/questions/PersonalInformation.stories.tsx
  services-js/registry-certs/client/birth/questions/PersonalInformation.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.stories.tsx
Labels: registry-certs

#419 Adds icons to Access Boston
  services-js/access-boston/fixtures/apps.yaml
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/access-boston/static/assets/apps/career-center.svg
  services-js/access-boston/static/assets/apps/e-builder.svg
  services-js/access-boston/static/assets/apps/fleethub.svg
  services-js/access-boston/static/assets/apps/job-openings.svg
  services-js/access-boston/static/assets/apps/proofpoint.svg
Labels: access-boston

#418 Modifications to speed up full Travis builds
  .travis.yml
  modules-js/deploy-tools/package.json
  modules-js/form-common/package.json
  modules-js/graphql-typescript/package.json
  modules-js/next-client-common/package.json
  modules-js/react-fleet/package.json
  package.json
  services-js/311/integration/testcafe-helpers.ts
  services-js/access-boston/src/integration/models/LoginFormModel.ts
  services-js/access-boston/src/integration/register-device.testcafe.ts
Labels: tech debt

#420 Supports reloading in birth cert flow
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/UploadPhoto.stories.tsx
  modules-js/react-fleet/src/form-elements/UploadPhoto.tsx
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/CheckoutPage.stories.tsx
  services-js/registry-certs/client/birth/CheckoutPage.tsx
  services-js/registry-certs/client/birth/QuestionsPage.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
  services-js/registry-certs/client/birth/components/SupportingDocumentsInput.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.stories.tsx
  services-js/registry-certs/client/models/UploadableFile.test.ts
  services-js/registry-certs/client/models/UploadableFile.ts
  services-js/registry-certs/client/queries/submit-birth-certificate-order.ts
  services-js/registry-certs/client/store/BirthCertificateRequest.test.ts
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
  services-js/registry-certs/client/types.ts
  services-js/registry-certs/pages/_app.tsx
Labels: registry-certs

#421 Strips non-digit characters from phone numbers
  services-js/311/server/services/Open311.test.ts
  services-js/311/server/services/Open311.ts
Labels: 311

#411 Updates text - resolves #405, resolves #407, resolves #408
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/inputs/TextInput.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/TextInput.tsx
  services-js/commissions-app/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
  services-js/registry-certs/client/birth/questions/ParentalInformation.tsx
  services-js/registry-certs/client/common/CertificateRow.tsx
  services-js/registry-certs/server/email/EmailTemplates.ts
  services-js/registry-certs/server/email/__snapshots__/EmailTemplates.test.ts.snap
Labels: registry-certs

#422 Updates 311 to use TypeScript GraphQL infra
  services-js/311/README.md
  services-js/311/data/queries/types.ts
  services-js/311/graphql/schema.graphql
  services-js/311/graphql/schema.json
  services-js/311/gulpfile.js
  services-js/311/package.json
  services-js/311/server/graphql/__snapshots__/case.test.ts.snap
  services-js/311/server/graphql/case.test.ts
  services-js/311/server/graphql/case.ts
  services-js/311/server/graphql/geocoder.ts
  services-js/311/server/graphql/index.ts
  services-js/311/server/graphql/mutation.ts
  services-js/311/server/graphql/query.ts
  services-js/311/server/graphql/service.ts
  services-js/311/server/services/Open311.ts
  services-js/registry-certs/package.json
  services-js/registry-certs/server/email/EmailTemplates.ts
  services-js/registry-certs/server/graphql/death-certificates.ts
  yarn.lock
Labels: 311

#423 Shows / hides links based on city agency
  services-js/access-boston/fixtures/apps.yaml
  services-js/access-boston/src/lib/AppsRegistry.test.ts
  services-js/access-boston/src/lib/AppsRegistry.ts
  services-js/access-boston/src/lib/__snapshots__/AppsRegistry.test.ts.snap
  services-js/access-boston/src/pages/index.tsx
  services-js/access-boston/src/server/Session.ts
  services-js/access-boston/src/server/forgot-password-auth.ts
  services-js/access-boston/src/server/graphql/schema.ts
  services-js/access-boston/src/server/login-auth.ts
  services-js/access-boston/src/server/services/SamlAuth.ts
  services-js/access-boston/src/server/services/SamlAuthFake.ts
  services-js/access-boston/src/stories/IndexPage.stories.tsx
Labels: access-boston

#424 Keeps password values from going to Rollbar
  services-js/access-boston/src/server/start.ts
Labels: access-boston

#425 Uses moment-timezone for correct MFA deadline
  services-js/access-boston/package.json
  services-js/access-boston/src/pages/index.tsx
  services-js/access-boston/src/server/login-auth.ts
  services-js/access-boston/src/server/services/SamlAuthFake.ts
  services-js/access-boston/src/stories/IndexPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#427 Allows Error#fatal to be null
  services-js/311-indexer/server/stages/load-cases.ts
Labels: 311

#428 Adds Career Center to the fixtures
  services-js/access-boston/fixtures/apps.yaml
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#429 Makes a local npm package for deploy-tools
  .travis.yml
  deploy-tools.tgz
  deploy/buildspec.yml
  deploy/codebuild-deploy.sh
  modules-js/deploy-tools/README.md
  modules-js/deploy-tools/package.json
  modules-js/deploy-tools/scripts/npm-package.js
  modules-js/percy-common/src/percy-common.ts
  modules-js/react-fleet/package.json
  modules-js/react-fleet/scripts/percy.js
  modules-js/react-fleet/scripts/test.js
  package.json
  services-js/311-indexer/Dockerfile
  services-js/311-indexer/package.json
  services-js/311/deploy/Dockerfile
  services-js/311/package.json
  services-js/311/scripts/percy.js
  services-js/access-boston/deploy/Dockerfile
  services-js/access-boston/package.json
  services-js/access-boston/scripts/percy.js
  services-js/commissions-app/deploy/Dockerfile
  services-js/commissions-app/package.json
  services-js/commissions-app/scripts/percy.js
  services-js/commissions-app/scripts/test.js
  services-js/commissions-search/package.json
  services-js/internal-slack-bot/Dockerfile
  services-js/internal-slack-bot/package.json
  services-js/payment-webhooks/Dockerfile
  services-js/payment-webhooks/package.json
  services-js/public-notices/package.json
  services-js/public-notices/scripts/percy.js
  services-js/registry-certs/Dockerfile
  services-js/registry-certs/package.json
  services-js/registry-certs/scripts/percy.js
  services-js/registry-certs/scripts/test.js
  services-ruby/codered-proxy/package.json
  services-ruby/contactform/package.json
  services-ruby/official-header/package.json
  templates/js-browser-module/package.json
  templates/js-server-module/package.json
  yarn.lock
Labels: tech debt

#430 yarn.lock updates to reduce total dependency count
  deploy-tools.tgz
  deploy/buildspec.yml
  modules-js/config-babel/package.json
  modules-js/deploy-tools/package.json
  modules-js/deploy-tools/src/codebuild-service-deploy.ts
  modules-js/deploy-tools/src/helpers.ts
  modules-js/deploy-tools/src/report-updated-services.ts
  modules-js/deploy-tools/src/s3-apps-deploy.ts
  modules-js/form-common/package.json
  modules-js/graphql-typescript/package.json
  modules-js/hapi-common/package.json
  modules-js/hapi-next/package.json
  modules-js/mssql-common/package.json
  modules-js/next-client-common/package.json
  modules-js/percy-common/package.json
  modules-js/react-fleet/package.json
  modules-js/srv-decrypt-env/package.json
  modules-js/storybook-common/package.json
  package.json
  services-js/311-indexer/README.md
  services-js/311-indexer/package.json
  services-js/311/README.md
  services-js/311/package.json
  services-js/access-boston/package.json
  services-js/commissions-app/package.json
  services-js/commissions-search/package.json
  services-js/commissions-search/src/index.js
  services-js/internal-slack-bot/package.json
  services-js/payment-webhooks/README.md
  services-js/payment-webhooks/package.json
  services-js/public-notices/package.json
  services-js/registry-certs/README.md
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/package.json
  services-js/registry-certs/server/email/__snapshots__/EmailTemplates.test.ts.snap
  services-ruby/codered-proxy/package.json
  services-ruby/contactform/package.json
  templates/js-browser-module/package.json
  templates/js-browser-module/template/package.json
  templates/js-server-module/package.json
  templates/js-server-module/template/package.json
  yarn.lock
Labels: tech debt

#432 brings in new addons, utility wrapper components
  modules-js/react-fleet/.storybook/config.js
  modules-js/react-fleet/package.json
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/components/ProgressBar.stories.tsx
  modules-js/react-fleet/src/form-elements/SelectDropdown.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/TextInput.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/TextInput.tsx
  modules-js/storybook-common/.storybook/addons.js
  modules-js/storybook-common/.storybook/config.js
  modules-js/storybook-common/package.json
  modules-js/storybook-common/src/storybook-common.ts
  modules-js/storybook-common/src/wrappers.tsx
  modules-js/storybook-common/tsconfig.json
  services-js/311/package.json
  services-js/access-boston/package.json
  services-js/commissions-app/package.json
  services-js/public-notices/package.json
  services-js/registry-certs/package.json
  yarn.lock
Labels: enhancement

#433 Small changes to speed up Travis builds
  .travis.yml
  scripts/check-for-changes.sh
Labels: tech debt
