Repository CityOfBoston/digital, pull requests merged in 2019-03, with the labels that each got.

#345 Updates Access Boston icons
  services-js/access-boston/fixtures/apps.yaml
  services-js/access-boston/src/lib/__snapshots__/AppsRegistry.test.ts.snap
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
  services-js/access-boston/static/assets/apps/bais-fn.svg
  services-js/access-boston/static/assets/apps/bais-hcm.svg
  services-js/access-boston/static/assets/apps/boston-maps.png
  services-js/access-boston/static/assets/apps/boston-maps.svg
  services-js/access-boston/static/assets/apps/career-center.svg
  services-js/access-boston/static/assets/apps/civis.svg
  services-js/access-boston/static/assets/apps/employee-training.svg
  services-js/access-boston/static/assets/apps/ess.svg
  services-js/access-boston/static/assets/apps/hub.svg
  services-js/access-boston/static/assets/apps/hyperion.png
  services-js/access-boston/static/assets/apps/hyperion.svg
  services-js/access-boston/static/assets/apps/identityiq.jpg
  services-js/access-boston/static/assets/apps/identityiq.svg
  services-js/access-boston/static/assets/apps/talented.png
  services-js/access-boston/static/assets/apps/talented.svg
Labels: access-boston

#346 MFA device changes
  services-js/access-boston/fixtures/apps.yaml
  services-js/access-boston/package.json
  services-js/access-boston/src/client/AccessBostonHeader.stories.tsx
  services-js/access-boston/src/client/auth-helpers.ts
  services-js/access-boston/src/client/graphql/fetch-account-and-apps.ts
  services-js/access-boston/src/client/graphql/fetch-account.ts
  services-js/access-boston/src/client/graphql/queries.ts
  services-js/access-boston/src/lib/AppsRegistry.test.ts
  services-js/access-boston/src/lib/AppsRegistry.ts
  services-js/access-boston/src/lib/__snapshots__/AppsRegistry.test.ts.snap
  services-js/access-boston/src/pages/index.tsx
  services-js/access-boston/src/pages/register.tsx
  services-js/access-boston/src/server/Session.ts
  services-js/access-boston/src/server/graphql/mfa.ts
  services-js/access-boston/src/server/graphql/schema.ts
  services-js/access-boston/src/server/login-auth.ts
  services-js/access-boston/src/server/services/SamlAuth.ts
  services-js/access-boston/src/server/services/SamlAuthFake.ts
  services-js/access-boston/src/stories/ChangePasswordPage.stories.tsx
  services-js/access-boston/src/stories/ForgotPasswordPage.stories.tsx
  services-js/access-boston/src/stories/IndexPage.stories.tsx
  services-js/access-boston/src/stories/RegisterMfaPage.stories.tsx
  services-js/access-boston/src/stories/RegisterPage.stories.tsx
  services-js/access-boston/src/stories/RegistrationDonePage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#347 Changes to put birth request details in item
  services-js/registry-certs/server/graphql/mutation.ts
  services-js/registry-certs/server/services/RegistryDb.ts
  services-js/registry-certs/server/services/RegistryDbFake.ts
Labels: registry-certs

#348 Updates Access Boston wording
  services-js/access-boston/src/client/device-verification/DeviceVerificationForm.tsx
  services-js/access-boston/src/client/device-verification/DeviceVerificationModal.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#354 Fix for some dropped contact emails
  services-ruby/contactform/Gemfile
  services-ruby/contactform/Gemfile.lock
  services-ruby/contactform/app/mailers/contact_mailer.rb
Labels: contactform

#355 Rewrites "unsubscribe" subject lines
  services-ruby/contactform/app/controllers/emails_controller.rb
  services-ruby/contactform/app/mailers/contact_mailer.rb
Labels: contactform

#357 Allows visiting /mfa if account has no MFA
  services-js/access-boston/src/pages/mfa.tsx
Labels: access-boston

#358 Fixes Session to use a String date
  services-js/access-boston/src/server/Session.ts
  services-js/access-boston/src/server/graphql/schema.ts
  services-js/access-boston/src/server/login-auth.ts
Labels: access-boston

#359 Adds a 10 minute duration for forgot password
  services-js/access-boston/src/pages/change-password.tsx
  services-js/access-boston/src/pages/forgot.tsx
  services-js/access-boston/src/server/Session.ts
  services-js/access-boston/src/server/forgot-password-auth.ts
  services-js/access-boston/src/server/graphql/workflows.ts
  services-js/access-boston/src/stories/ChangePasswordPage.stories.tsx
  services-js/access-boston/src/stories/ForgotPasswordPage.stories.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#361 Updates Stripe failed payment errors
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/common/checkout/ReviewContent.stories.tsx
  services-js/registry-certs/client/common/checkout/ReviewContent.tsx
Labels: registry-certs

#363 Sets IE Edge mode meta tag
  services-js/access-boston/src/pages/_document.tsx
Labels: access-boston

#365 Increases timeout for ID upload
  services-js/registry-certs/server/server.ts
Labels: registry-certs

#366 Enforces "+1" for MFA phone numbers
  modules-js/form-common/src/form-common.ts
  services-js/access-boston/src/pages/mfa.tsx
Labels: access-boston

#372 Consistently treats dates as midnight UTC
  services-js/registry-certs/client/queries/submit-birth-certificate-order.ts
  services-js/registry-certs/server/email/EmailTemplates.ts
  services-js/registry-certs/server/graphql/mutation.ts
Labels: registry-certs

#367 Configure Ruby apps not to send 404s to Rollbar
  services-ruby/codered-proxy/config/initializers/rollbar.rb
  services-ruby/contactform/config/initializers/rollbar.rb
Labels: codered-proxy, contactform

#364 Adds many of the required GA items
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/CheckoutPage.tsx
  services-js/registry-certs/client/birth/QuestionsPage.stories.tsx
  services-js/registry-certs/client/birth/QuestionsPage.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.stories.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.tsx
  services-js/registry-certs/client/store/BirthCertificateRequest.test.ts
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
  services-js/registry-certs/pages/_app.tsx
Labels: registry-certs

#373 Only allows proceed if id image succeeded
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/UploadPhoto.tsx
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/QuestionsPage.stories.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.tsx
  services-js/registry-certs/client/models/UploadableFile.ts
Labels: registry-certs

#376 Enhances GA reporting; improves appearance of control focus states
  modules-js/react-fleet/src/__snapshots__/Storyshots.test.ts.snap
  modules-js/react-fleet/src/form-elements/UploadPhoto.tsx
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/QuestionsPage.tsx
  services-js/registry-certs/client/birth/components/VerifyIdentificationComponent.tsx
  services-js/registry-certs/client/birth/questions/VerifyIdentification.tsx
Labels: registry-certs

#377 Switches to use UTC exclusively for date input
  modules-js/react-fleet/src/form-elements/inputs/MemorableDateInput.stories.tsx
  modules-js/react-fleet/src/form-elements/inputs/MemorableDateInput.test.ts
  modules-js/react-fleet/src/form-elements/inputs/MemorableDateInput.tsx
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/ReviewRequestPage.stories.tsx
  services-js/registry-certs/client/birth/questions/PersonalInformation.tsx
  services-js/registry-certs/client/queries/submit-birth-certificate-order.ts
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
Labels: registry-certs

#378 Adds birth certificate product tracking; resolves #352
  services-js/registry-certs/client/birth/CheckoutPage.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
Labels: registry-certs

#380 Aggressive no-cache headers for Access Boston
  services-js/access-boston/src/client/AccessBostonHeader.tsx
  services-js/access-boston/src/pages/_document.tsx
  services-js/access-boston/src/server/access-boston.ts
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#379 Removes quotes from example for looking up email
  services-ruby/contactform/README.md
Labels: contactform

#384 Redirects user to /birth if page reload occurs
  services-js/registry-certs/client/birth/CheckoutPage.stories.tsx
  services-js/registry-certs/client/birth/CheckoutPage.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.stories.tsx
  services-js/registry-certs/client/birth/ReviewRequestPage.tsx
  services-js/registry-certs/client/store/BirthCertificateRequest.ts
Labels: registry-certs

#387 Moves route change into setState callback
  services-js/registry-certs/client/birth/CheckoutPage.tsx
Labels: registry-certs

#388 Adds source map uploading of Next to Rollbar
  modules-js/hapi-next/package.json
  modules-js/hapi-next/src/hapi-next.ts
  services-js/registry-certs/pages/_document.tsx
  services-js/registry-certs/server/server.ts
  yarn.lock
Labels: registry-certs

#391 Rewords “forWhom” question text
  services-js/registry-certs/client/__snapshots__/Storyshots.test.ts.snap
  services-js/registry-certs/client/birth/QuestionsPage.tsx
  services-js/registry-certs/client/birth/questions/ForWhom.tsx
Labels: registry-certs

#392 Makes all app links open in new windows
  services-js/access-boston/fixtures/apps.yaml
  services-js/access-boston/src/client/graphql/fetch-account-and-apps.ts
  services-js/access-boston/src/client/graphql/queries.ts
  services-js/access-boston/src/lib/AppsRegistry.ts
  services-js/access-boston/src/lib/__snapshots__/AppsRegistry.test.ts.snap
  services-js/access-boston/src/pages/index.tsx
  services-js/access-boston/src/server/graphql/schema.ts
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#393 Keeps post-submit errors from being swallowed
  services-js/registry-certs/client/birth/CheckoutPage.tsx
  services-js/registry-certs/client/common/checkout/ReviewContent.tsx
  services-js/registry-certs/server/graphql/mutation.ts
Labels: registry-certs

#394 Fixes phone number normalization to remove "})"
  services-js/access-boston/src/integration/register-device.testcafe.ts
  services-js/access-boston/src/pages/mfa.tsx
Labels: access-boston

#395 Moves the banner content to be centered
  services-js/access-boston/src/pages/index.tsx
  services-js/access-boston/src/stories/__snapshots__/Storyshots.test.ts.snap
Labels: access-boston

#390 Adds s3 deploying to Next apps
  deploy/travis-deploy.sh
  modules-js/deploy-tools/bin/travis-service-deploy.js
  modules-js/deploy-tools/package.json
  modules-js/deploy-tools/src/codebuild-service-deploy.ts
  modules-js/deploy-tools/src/helpers.ts
  modules-js/deploy-tools/src/travis-service-deploy.ts
  modules-js/hapi-next/package.json
  modules-js/hapi-next/src/hapi-next.ts
  services-js/access-boston/package.json
  services-js/commissions-app/package.json
  services-js/commissions-search/package.json
  services-js/internal-slack-bot/package.json
  services-js/payment-webhooks/package.json
  services-js/registry-certs/next.config.js
  services-js/registry-certs/package.json
  services-js/registry-certs/pages/_document.tsx
  services-js/registry-certs/scripts/post-deploy.ts
  services-js/registry-certs/server/server.ts
Labels: registry-certs

#396 Passes an ArcGIS to allow reverse geocoding
  services-js/311/server/services/ArcGIS.test.ts
  services-js/311/server/services/ArcGIS.ts
Labels: 311

#397 Adds the failure result as data on exceptions
  services-js/payment-webhooks/server/services/INovah.ts
Labels: payment-webhooks

#399 Sends Open311 details to Rollbar in case error
  services-js/311-indexer/server/services/Open311.ts
  services-js/311-indexer/server/stages/load-cases.ts
Labels: 311

#398 Adds GA tracking script to Access Boston
  services-js/access-boston/src/pages/_app.tsx
  services-js/access-boston/src/pages/_document.tsx
  services-js/access-boston/src/server/access-boston.ts
Labels: access-boston

#400 Adds postdeploy to access-boston for CDN upload
  services-js/access-boston/package.json
  services-js/access-boston/scripts/post-deploy.ts
  services-js/access-boston/src/server/access-boston.ts
Labels: access-boston

#401 Debugging and logging changes around SF disconnect
  services-js/311-indexer/README.md
  services-js/311-indexer/package.json
  services-js/311-indexer/server/scripts/import-cases.ts
  services-js/311-indexer/server/server.ts
  services-js/311-indexer/server/services/Open311.ts
  services-js/311-indexer/server/services/Salesforce.ts
  services-js/311-indexer/server/stages/index-cases.ts
  services-js/311-indexer/server/stages/load-cases.ts
  services-js/311-indexer/server/stages/update-classifier.ts
  yarn.lock
Labels: 311

#402 Upgrades to React and Next
  modules-js/config-babel/package.json
  modules-js/form-common/package.json
  modules-js/graphql-typescript/package.json
  modules-js/hapi-common/package.json
  modules-js/hapi-next/package.json
  modules-js/mssql-common/package.json
  modules-js/next-client-common/package.json
  modules-js/react-fleet/package.json
  services-js/311-indexer/package.json
  services-js/311/components/request/request/__snapshots__/RequestDialog.test.tsx.snap
  services-js/311/package.json
  services-js/access-boston/package.json
  services-js/commissions-app/package.json
  services-js/commissions-search/package.json
  services-js/internal-slack-bot/package.json
  services-js/payment-webhooks/package.json
  services-js/public-notices/package.json
  services-js/registry-certs/package.json
  templates/js-browser-module/template/package.json
  yarn.lock
Labels: tech debt

#404 Adds protection around malformed MFA dates
  services-js/access-boston/src/server/access-boston.ts
  services-js/access-boston/src/server/graphql/schema.ts
  services-js/access-boston/src/server/login-auth.ts
Labels: access-boston
